[2018-05-08 05:08] hamishwillee opened #1 "Can't sync with DroneCore-Proto submodule on Ubuntu"
I get the following error:
[code]

I can separately clone  DroneCore-Proto repo

[2018-05-08 05:10] hamishwillee opened #2 "run_protoc.sh is broken"
The run_protoc.sh seems to find files as directories
[code]

[2018-05-09 17:50] xvzf commented on #2
Works here. I made a PR in order to update the dependencies!

[2018-05-13 23:24] hamishwillee opened #5 "run_protoc.sh doesn't work"
Log below
[code]

[2018-05-13 23:25] hamishwillee commented on #1
Yes, that works. Sadly the very next step in README  fails #5

[2018-05-13 23:25] #1 closed

[2018-05-13 23:37] hamishwillee commented on #5
Yoiks, created my own duplicate #2 . Closing.

[2018-05-13 23:37] #5 closed

[2018-05-14 07:36] JonasVautherin commented on #1
Should be fixed by #4, but it is not merged yet.

[2018-05-14 08:13] #2 closed

[2018-05-14 23:43] hamishwillee commented on #2
Thanks!

[2018-05-14 23:46] hamishwillee opened #7 "Helper script that builds all available packages"
It would be desirable from a user perspective to have a helper script to build all available packages (at least until we provide pip packages people can use instead).

[2018-05-14 23:55] hamishwillee opened #8 "Examples need more instructions"
I tried to build the examples in a virtual env named mytemp. Followed build instructions and end up with pip  list as below.
[code]
1. When I try running any example script I get the error `No module named dronecore_core.core_pb2`
[code]
2. How do I set up the vehicle? Ie can I use SITL? Do I need to set up anything to tell the client about the MAV system id I want to connect to? Can I use a real

[2018-05-15 06:14] xvzf commented on #8
Regarding the 1st point:
The examples are currently only for testing the generated code. You have to call the `./tools/run_protoc.sh` then there will be no import error!

[2018-05-15 09:26] xvzf commented on #8
That doesn't sound right. Just checked it again.

Do you have `grpcio` and `grpcio-tools` intstalled?

[2018-05-15 09:59] hamishwillee commented on #8
Yes, you can see them in the pip list too :-)

[2018-05-15 10:01] hamishwillee commented on #8
I can see the files here:
![image](https://user-images.githubusercontent.com/5368500/40050413-bbf9d134-587a-11e8-9a25-84c290813bac.png)
Just not located when I try build the examples.

[2018-05-15 19:37] xvzf commented on #8
Can you please try the recent version and check if the issue persists? If so please let me know which python and OS version you are using!

[2018-05-15 23:09] hamishwillee commented on #8
Same error. This is Python 3.5.2, in a venv virtual environment, on Ubuntu LTS 16.04 (running in a VM on Windows). The full steps to running example below:
[code]
This is not a completely new Ubuntu installation, but that should not matter as I'm using the venv - so it should be a clean Python env.

[2018-05-15 23:11] hamishwillee opened #10 "Move docs/examples to /examples"
@xvzf The new structure good, but can we move the examples back into the root. Docs are going to be stored in a separate gitbook. If you want to have intermediate docs, put them in the wiki and let me know :-)

[2018-05-15 23:12] hamishwillee commented on #8
Also, can you point me to instructions for setting up the backend? Or are they not needed to run the examples?

[2018-05-16 06:41] xvzf commented on #8
There seems to be a bug with Python 3.5. I was able to reproduce it - only with Python 3.5. The latest version is working fine here.

I'll have a look!

Backend should be as easy as calling `make ENABLE_BACKEND=YES` in the DroneCore repository

[2018-05-16 07:01] xvzf commented on #8
Quick update:
First of all, the files were not generated, that is fixed. However the internal import still fails.

[2018-05-16 07:52] hamishwillee commented on #8
Great! Ubuntu LTS 16.04 is pretty much the default dev platform for PX4, and it gets Python 3.5.2 by default, so we should make this work - and as a last resort specify a version and how to get it in our docs.

I'm sure that builds the backend but that is only a small part of the answer someone needs in order to be able to use this system. Does making that setting also start the backend as part of

[2018-05-16 08:25] JonasVautherin commented on #8
Regarding the backend, the best way IMO would be to have it as a package, so people can just install it. And then, those who want to compile it from sources can do it from the main dronecore repo.

Unfortunately, it is not yet released as a package, and it is still in active development. But that will come soon :-).

[2018-05-16 08:35] JonasVautherin commented on #8
(Note: I added the "Python" label for the kanban board [here](https://waffle.io/dronecore/dronecore)).

[2018-05-16 08:42] xvzf commented on #8
Just tested https://github.com/dronecore/DroneCore-Python/pull/11 in a 16.04 VM! Seems to be working!

[2018-05-16 12:58] #8 closed

[2018-05-17 01:10] hamishwillee commented on #7
Hi @xvzf

You are absolutely right - I used `pip install -e .` yesterday and it solved my annoyance :-)

You're right. This was not clear or documented anywhere. @JonasVautherin Has given me some guidance and I'm hoping to try this out today or tomorrow.

[2018-05-17 01:11] #7 closed

[2018-05-17 06:39] JonasVautherin commented on #8
Actually, the examples are outdated. "SubscribeDevices" is not a thing anymore, that was part of the proof of concept. The development of the Python bindings is really just starting. So we can keep this issue open as a reminder that we should actually start implementing them, but then it means that all the PRs will connect to this issue.

So I thought we could close it for now, and either let deve

[2018-05-17 07:34] xvzf commented on #10
I planned on using Sphinx for the Code Documentation - can you convert that to gitbook?

[2018-05-17 08:54] hamishwillee commented on #10
I am a huge fan of Sphinx, but we have about 7 non-Python doc sets, hosted using gitbook on gitbook.com. It makes no sense for one of them to be documented using a different toolchain and  markup.

So lets write in markdown. In the first instance we can just use the wiki for docs.

It is possible to convert between reStructuredText and markdown using tools like pandoc, but it is a pain to do and k

[2018-05-17 11:07] xvzf commented on #10
Okay!
I'd like to have some in-code documentation. Makes it easier to work witth! Do you have any proposal for python that is compatible with gitbook?

[2018-05-18 01:04] hamishwillee commented on #10
I completely understand. Unfortunately we're too early down the client API and docs path for me to give final advice.

For now, just document it however you prefer, ignoring the ultimate toolchain. Note however that it might all get ripped out and modified at some point in future.  I'm not saying that will happen - it is possible that the model for docs will end up being "every client library for

[2018-05-18 01:05] hamishwillee commented on #10
And in either case, please move examples folder into the root :-)

[2018-06-04 09:09] xvzf commented on #10
I think this can be closed now!

[2018-06-05 09:44] hamishwillee commented on #10
Yes it can. Thank you!

[2018-06-05 09:44] #10 closed

[2018-09-12 14:21] xvzf opened #17 "Restructuring the DronecodeSDK-Proto and DronecodeSDK-Python"
After working on the SDK autogenerator for the last couple of weeks we decided to move on and remove the language-specific template files while adding them to the corresponding repositories.

@julianoes @JonasVautherin

[2018-09-12 16:04] #17 closed

[2018-09-13 06:36] JonasVautherin opened #20 "Packaging with backend"
Summarizing slack discussions with @xvzf @julianoes @mrpollo.

The python wrappers connect to the `backend` (a C++ binary), which in turns connects over mavlink to the drone. Using the python wrappers therefore requires to have an instance of the `backend` running. Building the `backend` is not trivial and not convenient on some environments (typically a companion computer without a build toolchai

[2018-09-13 10:18] xvzf commented on #20
Just a random thought - don't ship via pip at all, distribute debian packages for Ubuntu/Debian, rpms for Fedora/Redhat and an AUR Package for archlinux

[2018-09-13 13:05] julianoes commented on #20
I'd prefer pip but I can see how that could be a possibility.

[2018-09-13 13:13] xvzf commented on #20
That would be also my preferred way but that depends on statically linking the backend

[2018-09-13 22:32] hamishwillee commented on #20
Definitely need to supply simple solution of pre-built binaries "somehow".

But even so we should provide clear instructions on how to set this up manually for unsupported platforms.

[2018-09-13 22:36] hamishwillee commented on #20
FWIW for end users I'm a big fan of "one button solutions". So if someone gets swift wrapper from package manager this should also pull the backend. Starting the backend should be possible through the front end. Ditto for Python and other systems.

[2018-09-13 22:37] hamishwillee commented on #20
Probably a silly idea, but could all this stuff be setup and run in some sort of docker package on *whatever* system?

[2018-09-14 01:44] mrpollo commented on #20
The python package can include a static lib and backend daemon, the package can build all the dependencies including proto files in a single build step via setup.py,  this has the benefit of dealing with incompatibilities between backend and client, this might mean we need to add the backend as a submodule for the build step?

I found an example of a python api binding similar to ours where they n

[2018-09-14 03:42] JonasVautherin commented on #20
You mean that you would run the backend as a docker container, and connect the wrappers to it? That would solve the packaging issue (we would only have one container to maintain), but it would add its lot of networking complexity (e.g. the backend running in your docker container would likely not receive the mavlink broadcasts from the drone), and it doesn't solve the problem for people who don't

[2018-09-14 08:39] xvzf commented on #20
That might actually not be the worst idea! We could do this and provide a build script for the backend? What do you think @JonasVautherin ?

I actually did resolve that, you can forward the broadcast to the container network

[2018-09-14 08:47] JonasVautherin commented on #20
Yeah but it means that you have to actively do something regarding the network. And that we then depend on docker for running the SDK, right? And running docker on macOS and Windows is not native, is it? And what about other architectures? Not sure how it would run on ARM, for instance...

[2018-09-14 08:50] xvzf commented on #20
Okay, yes. Mac and Windows has no native support, that's right. Docker on ARM (at least ARM64) is working just fine but that is not a viable solution since we can't suppor all platforms with this approach.

Did you dig into statically linking the backend so it does not depend on dynamic libraries? If we can get that working we should be fine and do the same thing at @mrpollo `dronekit-sitl` does.

[2018-09-20 14:03] julianoes commented on #20
When I was trying the pybind solution via pip I found that it needs the whole toolchain installed, so it's far from optimal, you can see it here:
https://github.com/julianoes/DronecodeSDK-Python#installing-the-python-wrappers

[2018-10-24 13:48] julianoes opened #29 "Troubles installing on macOS"
I'm trying to set this up on macOS but I'm getting some errors.

I've installed the requirements like this:
[code]

Then I tried this script:
[code]

[2018-10-24 14:30] JonasVautherin commented on #29
Which version of Python do you have?

[2018-10-24 14:53] julianoes commented on #29
it's Python 3.7.

[2018-10-24 15:07] xvzf commented on #29
Can you try it inside a virtual env?

[2018-10-24 20:17] xvzf commented on #29
Another quick note, you can go for
[code]
instead of installing each dependency!

[2018-10-25 05:15] julianoes commented on #29
This needs to be in the README if it's the suggested way of doing it. Please please update the README.

[2018-10-25 06:33] xvzf commented on #29
I'll add that later!

Is this issue resolved? Then I'll mark it as closed with the PR updating the Readme!

[2018-10-25 06:55] julianoes commented on #29
Ok, adding the path and installing all the requirements (with pip3, not pip) made the `run_protoc.sh` run through.

[2018-10-25 06:57] julianoes commented on #29
Then I did:
[code]

and then got as far as:
[code]

[2018-10-25 11:08] xvzf commented on #29
Can you post a dump of `tree`? This seems pretty strange to me and I cannot reproduce it

[2018-10-25 11:31] julianoes commented on #29
[code]

[2018-10-27 15:07] julianoes commented on #29
Hm, yes works fine on Arch Linux. The `run_protoc.sh` output is different on macOS, I'll check that on Monday.

[2018-10-27 22:09] xvzf commented on #29
Sure!

Make sure to include a `pip freeze` aswell!

[2018-10-27 22:10] xvzf commented on #29
@mrpollo got it working a couple of weeks ago, maybe he also has an idea!

[2018-10-29 10:19] #29 closed

[2018-12-28 06:32] Huibean commented on #29
I still got empty plugins dir in my mac, Any Idea?
[code]

[code]

[2018-12-28 11:40] JonasVautherin commented on #29
@Huibean: are you sure you cloned the git submodules?

And would you mind opening a new issue for your problem, since this one was closed already =)

[2018-12-28 11:54] Huibean commented on #29
@JonasVautherin yes, I have the submodule installed

[2018-12-28 11:55] Huibean opened #38 "./other/tools/run_protoc.sh got empty plugins direction"
[code]

[code]

[2018-12-28 12:56] xvzf commented on #38
Hi!

You have to generate the plugins and then install the SDK, e.g. by executing `pip install -e .` inside the project root

[2018-12-28 13:08] Huibean commented on #38
@xvzf I just did that, but  problem still, here is the project tree and full log
[code]

[2018-12-29 14:18] julianoes commented on #29
@Huibean please open a new issue.

[2018-12-29 14:20] Huibean commented on #29
@julianoes yep,it is [here ](https://github.com/Dronecode/DronecodeSDK-Python/issues/38)

[2018-12-29 14:36] julianoes commented on #38
Please use `pip3 install -r requirements.txt -r requirements-dev.txt`, unless your distribution brings Python 3 by default.

[2018-12-29 14:44] xvzf commented on #38
@julianoes Agreed. I'll do that right away!

Also I'd strongly advice we opt in for venv because it setups all the path needed to execute the autogenerator! (we just cannot do `python3 -m dcsdkgen`, protobuf doesn't like it at all )

[2018-12-29 14:46] xvzf commented on #38
@Huibean  Please come back with the result! :-)

[2018-12-29 14:52] Huibean commented on #38
@xvzf @julianoes In fact, I am using pip3 all the time, but it not seems to be the problem here, by the way I more likely to figure out how message is generated

[2018-12-29 15:36] Huibean commented on #38
I just solve this, ./other/tools/run_protoc.sh could not handle the dcsdkgen path well, so I give a fix path to it and python3 -m grpc_tools.protoc run through
[code]
[code]

[2018-12-29 18:34] xvzf commented on #38
dcsdkgen not found

This is likely because your `PATH` is not set correctly! Are you using a venv?

Can you post the output of `echo $PATH` ?

[2018-12-30 03:59] Huibean commented on #38
@xvzf when use --user in pip install, it would install to ~/.local/bin,  I don't have ~/.local/bin in my $PATH, I haven't remove this manually before, not sure install anaconda would affected this

[2018-12-30 07:32] julianoes commented on #38
@Huibean what about adding `~/.local/bin` to your `$PATH`? Isn't that common practice?

[2018-12-30 14:20] xvzf commented on #38
@Huibean You have to add it to your path or use a virtual environment as described above which setups the path for you!

[2019-01-09 08:22] julianoes commented on #20
Note to self, I should try to compile it in `manylinux2010`.

[2019-01-09 16:24] mrpollo commented on #20
Hey guys did we decide what to do?

[2019-01-10 07:57] julianoes commented on #20
We know what to try and how to proceed but it's tricky because `manylinux1` is too old to compile what we need and `manylinux2010` is not released yet but it looks like it's close, so we should try to get ready for it.

[2019-01-10 13:16] julianoes commented on #20
Hm, it's gcc 4.8, it might work.

[2019-02-12 15:54] julianoes opened #46 "Crash uploading mission items in gRPC"
A crash report by that needs to be investigated:

Version: Not sure yet, but <0.13.0 and possibly newer versions.

https://paste.ofcode.org/qmzXxgYH2LkVpYiyXBGJ5u

[2019-02-13 09:49] julianoes commented on #46
According to https://groups.google.com/forum/#!topic/grpc-io/M84p6FD-BcE

(which is a violation of how gRPC's low level API should be used).

[2019-02-13 10:00] JonasVautherin commented on #46
I am not sure if it is a crash in the upload. From the logs, it seems like it may come from the mission progress stream (which is, IMO, more likely to create a `grpc_call_start_batch returned 8`).

[2019-02-13 10:03] JonasVautherin commented on #46
@julianoes: Did you manage to reproduce it? Would be nice to understand where that happens (e.g. in upload, start, or mission progress).

[2019-02-13 10:04] julianoes commented on #46
Yes, trying to reproduce now.

[2019-02-13 10:42] julianoes commented on #46
Ok, it happened:
[code]

And now all threads:
[code]

[2019-02-13 10:51] julianoes commented on #46
@JonasVautherin could this be a leak given we have multiple threads subscribed to mission progress and also multiple for the in-air status?

[2019-02-13 13:55] JonasVautherin commented on #46
So it happens in `SubscribeMissionProgress`, right?

Looking at the code, I don't think we leak. If we register multiple times, the old callbacks will never be called so the stream will be [hanging there](https://github.com/Dronecode/DronecodeSDK/blob/develop/backend/src/plugins/mission/mission_service_impl.h#L167) until the caller cancels the call, but that's not exactly a leak. gRPC supports hav

[2019-02-13 14:03] julianoes commented on #46
Right I noticed that it only happens in the case where updates are fired at (almost) the same time.

Do they need to be called on the same thread? They might be on the thread pool in which case it might be different threads from the pool.

[2019-02-13 14:08] JonasVautherin commented on #46
In which case we need a mutex on the shared `writer`, which [we do for the camera](https://github.com/Dronecode/DronecodeSDK/blob/develop/backend/src/plugins/camera/camera_service_impl.h#L179). That was not propagated everywhere, and I am hoping that the auto-generation will prevent those kinds of issues in the future.

 My question would then be: does it make sense to call them on different threa

[2019-02-13 14:12] zulufoxtrot commented on #46
Some more info:
- The only occurence of crashes is right after mission upload.
- The mission is uploaded _and_ executed despite the crash.
- This appears to happen after a few uploads (my application uploads new missions frequently) and never at first upload.

[2019-02-13 14:12] julianoes commented on #46
https://github.com/Dronecode/DronecodeSDK/blob/develop/plugins/mission/mission_impl.cpp#L1125

The question is why we have two reports in short succession, that's also odd.

[2019-02-13 14:18] JonasVautherin commented on #46
What's your point there? :sweat_smile:

Yes. And what does -1 mean? Is it related to @zulufoxtrot's second point: "The mission is uploaded _and_ executed despite the crash."? Like... I don't know, when a new mission overwrites an older one, then somehow -1 is emitted and directly 0 after that?

When playing with the python examples, I was also feeling like sometimes I receive the 0 event, and some

[2019-02-13 14:21] zulufoxtrot commented on #46
New full output, crash at second upload:

[code]

[2019-02-13 14:22] julianoes commented on #46
@JonasVautherin right, so I guess we should fix both, the double output with `-1` but also the crash due to the thread-unsafety (clearly that's a word!).
I'm already trying to reproduce with a log around the `Writer()`.

[2019-02-13 14:24] zulufoxtrot commented on #46
@julianoes thanks, you guys are doing all the hard work :)

Now I just got a crash at first upload. However the output is different:

[code]

[2019-02-13 14:25] julianoes commented on #46
Interesting, this time it's not the `Fatal: grpc_call_start_batch returned 8`. This would mean it's probably not actually that gRPC error but rather undefined behaviour that we're seeing.

[2019-02-13 14:31] JonasVautherin commented on #46
[code]

Wrong order here :sweat_smile:. That's generally not an issue, but we should keep that in mind.

Or sometimes it ends up with a segv. I could imagine that, too.

What about you take the `-1`, and I take the mutex? Or @zulufoxtrot do you want to contribute to that fix in C++? :blush:

[2019-02-13 14:35] julianoes commented on #46
I'm already trying the mutex but now only one mission update arrives on the Python side which is odd.

[2019-02-13 14:36] zulufoxtrot commented on #46
@JonasVautherin I wish I could, but I'm non proficient in C++.

[2019-02-13 14:38] JonasVautherin commented on #46
No worries, reporting and testing is already super helpful! Thanks a lot for that :+1:.

[2019-02-13 14:56] julianoes commented on #46
Yet another one:
[code]

[2019-02-13 15:23] zulufoxtrot opened #47 "AttributeError: type object 'GpsInfo' has no attribute 'FixType'"
Getting this error on the latest commit.

GpsInfo appears to be the only thing that's affected. All my other telemetry callbacks work as expected.

[code]

Source:

[code]

[2019-02-13 15:26] julianoes commented on #46
Fix coming up in: https://github.com/Dronecode/DronecodeSDK/pull/668

[2019-02-13 15:38] julianoes commented on #47
@JonasVautherin that one is for you :smile:

[2019-02-13 19:58] joe-marrone opened #48 "Python script fails"
I just completed the build of DronecodeSDK-Python as per directions I got from the dev team.   I did all the updates and installed Python 3.6, and everything appeared to install OK.

The GUI runs and  I can get the drone to takeoff and land with manual commands.  The backend is installed and works fine.  But I just can't get the script to run. I tried to run the sample script but it threw an error

[2019-02-13 23:02] JonasVautherin commented on #48
Can you show me your `./other/tools/run_protoc.sh` and the output when you run it?

[2019-02-14 08:15] #46 closed

[2019-02-14 08:16] julianoes commented on #46
@JonasVautherin should re release `v0.14.2` for to include this fix?

[2019-02-14 08:48] JonasVautherin commented on #46
@zulufoxtrot: would you mind testing your code against the latest `develop` branch before we release the patch? Otherwise we can directly release, but it would be nicer if you confirm the fix first :-)

[2019-02-14 08:57] zulufoxtrot commented on #46
Sure, I'll try and report back soon.

[2019-02-14 09:40] zulufoxtrot commented on #46
Been running for 30 minutes, about 30 uploads, no crash so far.

[2019-02-14 10:12] zulufoxtrot commented on #47
In plugins/telemetry.py, line 465:

Changing

`  GpsInfo.FixType.translate_from_rpc(rpcGpsInfo.fix_type)
`
to
`  FixType.translate_from_rpc(rpcGpsInfo.fix_type)
`
fixes it.

The FixType class is outside of GpsInfo.

[2019-02-14 11:20] JonasVautherin commented on #47
Right, thanks for that! :blush:

Looking into the generation script to understand what happened there. Sorry for the delay, I'll fix it in the afternoon :slightly_smiling_face:.

[2019-02-14 13:28] JonasVautherin commented on #47
So it's a bit more complicated than I thought: it has to do with the hierarchy tree of a type. `GpsInfo.FixType` is a bug, it should generate only `FixType`. But then, `Result`, which is nested inside `<plugin>Result`, must become `<plugin>Result.Result` in Python.

Which means that a `type_info` should contain the hierarchy of that type. I'll try to add this tonight!

[2019-02-14 14:17] joe-marrone commented on #48
Hi @julianoes : here are the files:
1) ./other/tools/run_protoc.sh
[code]
2) Source file for above
[code]
3) `joe-pl@joe-PL:/src/DronecodeSDK/DronecodeSDK-Python$  python3.6 --version
Python 3.6.8`

[2019-02-14 14:34] joe-marrone commented on #48
Jonas:  Julian asked for this on the forum and I already sent it.
Thanks,
Joe

On Wed, Feb 13, 2019 at 6:02 PM Jonas Vautherin <notifications@github.com>
wrote:

--
Joe-RCav8r

[2019-02-14 15:35] JonasVautherin commented on #48
As you can see in the output you paster, you have errors when running the script:

[code]

Interestingly, I see `python3.6` on line 16 in the script you pasted. Are you 100% sure that the script you pasted is the one you ran above?

Also, I see that your `protoc.sh` script still has a `python3` that was not replaced by `python3.6`.

Finally, you have permission issues, as said in the output:

[cod

[2019-02-14 16:41] joe-marrone commented on #48
Yes, the version of `./other/tools/run_protoc.sh` is the one I am using and it does say python3.6 on line 16, etc.

Permissions
`joe-pl@joe-PL:~/src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk$ ls -l __init__.py`
`-rw-rw-r-- 1 joe-pl joe-pl 1227 Dec 13 16:06 __init__.py`

Running ubuntu 16.04 LTS on PC.  This is not a virtual machine.
I am not using docker

Text of __init__.py
[code]

[2019-02-15 08:37] JonasVautherin commented on #48
`joe-pl@joe-PL:~/src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk$ ls -l __init__.py`
`-rw-rw-r-- 1 joe-pl joe-pl 1227 Dec 13 16:06 __init__.py`

That's not the right file. The error says:

[code]

Which means that the file you should check for permissions is `src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk/plugins/__init__.py`. You checked `src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk/

[2019-02-15 09:33] zulufoxtrot opened #49 "Improve connection error handling"
One may face 2 types of connection errors:

- Connection from the wrapper to the backend (via gRPC)
- Connection from the backend to PX4 (via mavlink)

Right now I see several issues:

- There is no clear distinction between connection errors
- Clearly identifying connection errors is not trivial
- Connect() does not return a result (success or failure)
- There are no methods in place to know the

[2019-02-15 09:58] JonasVautherin commented on #49
Interesting points! May I ask the use-case for making a difference between those two? Is it for debugging/setting up the system, or is it affecting, say, the UI flow (e.g. you want to tell the user where the issue comes from)?

Right now it has been almost exclusively used with the backend running on the same device as the language bindings, so the connection to the backend is always fine (unless

[2019-02-15 10:32] zulufoxtrot commented on #49
Right now it has been almost exclusively used with the backend running on the same device as the language bindings, so the connection to the backend is always fine (unless the backend is not running). So we haven't seen the need to improve this. That's why I am interested in the use-case.

For debugging. I am running the wrapper and the backend on two different machines for performance/compatibili

[2019-02-15 14:13] JonasVautherin commented on #49
I see. Note that you can for sure run both the wrapper and backend on macOS, and SITL on your Linux. I do that a lot with [this docker image](https://github.com/JonasVautherin/px4-gazebo-headless), but you could just run SITL on Linux and redirect MAVLink to your macOS (by using e.g. [mavlink-router](https://github.com/intel/mavlink-router/) or by doing something similar to what I do [in my docker

[2019-02-15 16:52] joe-marrone commented on #48
Update:
Re: the `run_protoc.sh` file, ie, it refers to `python` instead of `python3`. I discovered there are THREE instances of this file and they are different. Two use python3. The correct one is: `src/DronecodeSDK/DronecodeSDK-Python/other/tools/run_protoc.sh`
It ran successfully.
[code]
However, the result of running the `takeoff_and_land.py` script is the same .. it throws the same error.
[co

[2019-02-16 14:16] JonasVautherin commented on #48
Yes, this time the generation worked!

Can you show me the path to the other two? Are you sure you don't have multiple clones of the repo (since you started over a few times, I could imagine that)?

You say:

But then you run `joe-pl@joe-PL:~/DronecodeSDK-Python/examples$ python3.6 takeoff_and_land.py`. Shouldn't you run something like `src/DronecodeSDK/DronecodeSDK-Python/examples/takeoff_and_lan

[2019-02-18 08:17] zulufoxtrot commented on #49
Sure. However, System.is_connected is not implemented in the current version of the wrapper.

I'm also curious about the role of Core.connection_state ?

[2019-02-18 09:35] JonasVautherin commented on #49
`Core.connection_state` tells you about the MAVLink connection, right? When a system is connected, you get an event that tells you that a new system got connected, together with its uuid.

So I believe it is what you expect with `System.is_connected`, isn't it?

[2019-02-18 10:49] zulufoxtrot commented on #49
I can't confirm it, because it throws an error whether the connection is established or not:

    async for connection_state in Autopilot.vehicle.core.connection_state():
AttributeError: 'NoneType' object has no attribute 'connection_state'

Yes. I've dug into the generated code and it appears that core.connection_state() returns an object with 2 attributes: the uuid and an is_connected boolean. S

[2019-02-18 13:12] JonasVautherin commented on #49
That may be a bug, let me check that :-)

You're right. The thing is that other modules are "plugins", and `Core` is not. `Core` is the one managing the MAVLink connection. And the API of that is a bit different from the underlying C++ code (whereas the other plugins are more similar). However, the goal is to get the C++ API to get closer to that in the future. The idea being that the API is defin

[2019-02-18 13:30] zulufoxtrot commented on #49
It does, thanks for the explanation 😄

[2019-02-19 16:28] joe-marrone commented on #48
Jonas, this is the information from my files:
[code]

There is also another similar directory:
[code]

I think there are too many duplicates of these files, that it gets confusing as to which one to use. Is there some way to simplify things so I know what path to use?

No matter which directory I use the result is the same.

1)
 `~src/DronecodeSDK/DronecodeSDK-Python/`
`/examples/`      when I run

[2019-02-19 19:45] JonasVautherin commented on #48
You apparently have two clones of the repo. Just keep the one that works (`~/src/DronecodeSDK/DronecodeSDK-Python`) and remove the one that doesn't (`~/DronecodeSDK-Python`).

After you run `run_protoc.sh`, you probably need to [install the SDK](https://github.com/dronecode/dronecodesdk-python#install-the-package-locally) again. Let's try to run this:

[code]

[2019-02-19 22:52] joe-marrone commented on #48
I think  messed up.
Instead of removing  ~/DronecodeSDK-Python I removed ~/DronecodeSDK.
Then it failed at pip3.r install -e .
So now it looks like I'll have to go further back to repair the damage.  Will try tomorrow.
[code]
[code]
[code]

[2019-02-20 06:46] JonasVautherin commented on #48
Seems like you removed the wrong one, indeed :sweat_smile:.

Still, `run_protoc.sh` worked, so I assumed it is referring to python3.6 and pip3.6. The one that fails is:

[code]

Because of a `Permission denied` error. I am not sure, but it looks like you may have to run it as `sudo`:

[code]

[2019-02-20 10:44] zulufoxtrot commented on #47
Shouldn't there also be a commit to DronecodeSDK-Python to reference the latest commit to DronecodeSDK-proto?

[2019-02-20 14:59] joe-marrone commented on #48
EUREKA!  It finally worked, despite the fact that I deleted the wrong file. I was able to use `sudo pip3.6 install -e .` and it installed correctly. After that running the script worked for the first time.  Thank you so much for your patience and assistance.

My only question is what will the result be of deleting `~/DronecodeSDK` instead of `~/DronecodeSDK-Python`?  So far I haven't seen any issu

[2019-02-20 18:17] joe-marrone opened #50 "Python Script Errors"
Now that I have the DronecodeSDK-Python simulation environment running, I have been trying some of the example scripts.  `takeoff_and_land.py` works.  However, I tried several of the others and they fail.  Here's two examples.
1)
[code]
2)
[code]
Do they fail because they have to be used in conjunction with another script?  Can I run several scripts at the same time?  Looking for an explanation so

[2019-02-20 19:25] JonasVautherin commented on #47
Yes, sorry I was not clear in the other PR. Opening the new one now.

[2019-02-20 19:39] JonasVautherin commented on #50
Seems to me like you are not up-to-date with the `proto` submodule.

If you run `git status`, you should see that `proto` appears in red as "modified". This means that you should update it:

[code]

Then, because the proto files have changed, you need to generate the code again, and install the SDK again.

[code]

Notes:
* `./other/tools/run_protoc.sh` will also appear as "modified", because you c

[2019-02-20 21:59] joe-marrone commented on #50
Jonas, I tried this:
[code]
So then  did this and nothing happened:
[code]
Ran the `mission.py` script and this time it worked!
Is HEAD detached anything to worry about?

I didn't rerun the following, but that didn't seem to matter.
[code]
I'm really excited to finally see a mission running on the sim, and will be getting deeper into this aspect now.

Thanks,
Joe

[2019-02-20 22:32] JonasVautherin commented on #50
You would have to run `git submodule update --recursive` from the root of the repo, so from `~/src/DronecodeSDK/DronecodeSDK-Python`.

Hmm, I don't get how that could have happened without regenerating the correct files :thinking:. But well, why not.

Feel free to reopen if the error comes back!

[2019-02-20 22:32] #50 closed

[2019-02-21 14:10] #47 closed

[2019-02-21 15:15] joe-marrone commented on #50
Jonas, you tipped me off to something I was unaware of.  It seems that  have duplicate `src/DronecodeSDK/DronecodeSDK-Python` directories in both the **root** and **home** directories.  The mission.py runs from the root, but NOT from home!  This means I still have more than one clone on the system, and they have different behaviors.  So now I run jMAVSim and backend from the home directory, but th

[2019-02-21 15:39] joe-marrone commented on #50
Quick update. I copied `mission.py` from the root directory into the home directory, and it worked from the home directory, so this fixed the problem.  This leads me to believe that the scripts are different.
-Joe

[2019-02-21 16:06] JonasVautherin commented on #50
You should be able to remove the one in the root directory, and just update the one in the user directory. It is failing because the "proto" submodule there is not up-to-date.

You have to update your git clone in the user directory (see the instructions [above](https://github.com/Dronecode/DronecodeSDK-Python/issues/50#issuecomment-465724638)), run `run_protoc.sh` and `sudo pip3.6 install -e .` a

[2019-02-21 20:49] joe-marrone commented on #50
Update: The` mission.py` scripts in the $/ and $~ directories are different.  One runs and the other doesn't. I copied the "good" one into the $~ directory, renamed it `mission-good.py`, and it ran OK. Here it is:
[code]
Then I edited the GPS coordinates to be my location, but it failed.  Here is the modified file and the error message.
[code]
This is the error message:
[code]

[2019-02-22 00:06] JonasVautherin commented on #50
Your problem is not that the `mission.py` in `$~` is bad, your problem is that it is outdated. The way it works is that "DronecodeSDK-Python" is a git repository, which contains a git submodule called "proto". When you update the DronecodeSDK-Python repository by running e.g. `git pull`, then you also need to update the submodule by running `git submodule update`. This is what I am explaining [abo

[2019-02-22 14:38] joe-marrone commented on #50
Jonas, here is the result of `git status`.  I don't see any reference to `proto` submodule.
[code]
When I execute `git pull` this is the result.  Now I see reference to the `proto` submodule.  I am told to  move or remove these files. Some of them were copied from the /$ directory.  Not sure how to handle this.
[code]
Without doing anything about moving or removing files, I ran this with no specif

[2019-02-22 15:05] JonasVautherin commented on #50
No worries. We will improve the SDK installation procedure ASAP.

First, make a copy the example files you modified:

* examples/mission.py
* examples/takeoff_and_land.py
* examples/telemetry_takeoff_and_land.py

Since you don't know git (yet), I would advise you not to edit those files but to create new ones (which you did for others like `examples/camera.py` and `examples/mission-2.py`). You cou

[2019-02-22 16:24] joe-marrone commented on #50
Feedback on the procedure above:  the second step failed.
[code]

Joe

[2019-02-22 18:46] joe-marrone commented on #50
I decided to put my email and name in and that worked.  I kept going but encountered another error.
-Joe
[code]

[2019-02-22 23:16] JonasVautherin commented on #50
[code]

So you should move those files somewhere out of the repository. Like in `~/myexamples`, or whatever. By mixing your code with the SDK repository, you just create conflicts for git.

[2019-02-25 10:58] zulufoxtrot commented on #49
@JonasVautherin any progress? I don't mean to push you, there is no rush.

[2019-02-25 12:50] JonasVautherin opened #52 "Connection state raises an error"
As reported by @zulufoxtrot in #49, the SDK crashes when subscribing to the connection state:

[code]

[2019-02-25 12:50] JonasVautherin commented on #49
Not yet. Should not be a big issue, though. Let me open two issues actually:

1. The bug
2. We should have better handling for gRPC errors in general (not just the connection).

And I will close this one, as I believe the current behavior which the gRPC error is usable, just not super elegant.

[2019-02-25 12:50] #49 closed

[2019-02-25 12:55] JonasVautherin opened #53 "Abstract away gRPC errors"
As reported in #49, the way we handle gRPC errors is not elegant (and leaking gRPC to the user.

For instance, this is the output if the backend is not reachable:

[code]

As mentioned by @zulufoxtrot, the error can be handled with something like:

[code]

We should probably handle that inside the SDK and raise a proper exception when that happens.

[2019-02-25 12:58] JonasVautherin commented on #53
@zulufoxtrot: I haven't looked into the details of the `grpc.RpcError` (e.g. when that gets raised and what it means). If you have, and if you have a suggestion on how you feel we should handle that, please let me know.

One way is to fix this in one function inside one of the generated files (like `telemetry.py`), so that I can edit the auto-generation templates. Otherwise you could directly upda

[2019-02-25 12:59] JonasVautherin commented on #20
So I am currently working on compiling the backend with manylinux, will post news ASAP.

[2019-02-25 15:07] joe-marrone commented on #50
Update: I went thru the steps above and everything appeared to install OK.  When I ran the `mission.py` example it failed.
This is the jMAVim output.
[code]
This is the `mission.py` output.
[code]
This is the `mission.py` script.  This is the original script ... I didn't make any changes.
[code]

[2019-02-25 21:18] JonasVautherin commented on #50
It looks like it was working, and you interrupted it with `Ctrl + C`, doesn't it?

[code]

[2019-02-25 22:13] joe-marrone commented on #50
Yes I did interrupt it because it stopped working at that point and the system hung up. The only way I could do anything was to ^C.  Here is what happens:
You can see the mission starting in jMAVSIM, but it almost immediately does RTL.
[code]
Same thing happens in the backend:
[code]
So the Python script only goes to that point and then stops:
[code]
As I say, the only way I can get it out of this

[2019-02-25 22:44] JonasVautherin commented on #50
So it takes off?

[2019-02-26 14:10] joe-marrone commented on #50
No, it does not take off.

[2019-02-26 14:43] JonasVautherin commented on #50
Do the other examples work?

[2019-02-26 15:24] joe-marrone commented on #50
The following scripts run and appear to work OK.
[code]
All of the missions scripts, both the one that came with the distro and the ones I created from the "old" versions, do NOT run.  Evidantly, one of the "old" versions that once ran no linger does.

Hope this helps.
Joe

[2019-02-26 16:06] JonasVautherin commented on #50
What if you only upload the mission from the SDK, open QGC and start it? Does that work?

[2019-02-26 17:29] joe-marrone commented on #50
I open QGC and it can run a manually inputted waypoint mission.  But when I try to launch `mission.py` the same thing happens as before and it doesn't execute. And the QGC screen shows no movement of the drone.
On the latest attempt, jMAVSim said "waypoint index out of bounds".

[2019-02-26 17:54] JonasVautherin commented on #50
Which version of the backend are you running? When you run the C++ backend, it should show you the version in the log output. Maybe it is outdated.

[2019-02-26 18:06] joe-marrone commented on #50
How do I find out the version of the backend? Here is some of the backend startup. Does this have the information?
[code]

[2019-02-26 18:12] joe-marrone commented on #50
Another issue: I keep getting this error:
`MAVLink: critical: ERROR: wp index out of bounds (system_impl.cpp:280)`
Is this related to the fact that my location is different than the waypoints in the script?  Sounds like it is related to the home coordinates.

Is this a parameter that can be changed?

Joe

[2019-02-26 18:21] JonasVautherin commented on #50
The first line of the output says:

Please update to [0.14.2](https://github.com/Dronecode/DronecodeSDK/releases), either by building it or by installing the `.deb` available there.

[2019-02-26 19:39] joe-marrone commented on #50
I tried to rebuild DronecodeSDK as per the instructions.  When I got to the backend install it told me there is no `backend_bin` file.
[code]

I searched the entire directory tree and `backend_bin` does not exist.  In fact, there is no `backend/bin` folder in the directory path any more.  Not sure what just happened.
I continue to be confused about which directory to use when installing this build

[2019-02-26 20:12] joe-marrone commented on #50
I tried installing the .deb file, but there is still no `backend_bin` file.
[code]
This is the path for installing the backend, and there is no folder called `backend`
[code]
What is happening?

[2019-02-26 20:24] JonasVautherin commented on #50
Oh, right, maybe it's not in the `.deb`. So you have to build from source:

[code]

Then, if the build is successful, it will be in `./build/default/backend/src/backend_bin`.

[2019-02-26 20:35] joe-marrone commented on #50
Before the .deb install, I did the standard install.  Just now I tried `make BUILD_BACKEND=YES`.  Still no ./build/default/backend/src/backend_bin`

Joe

[2019-02-26 20:47] JonasVautherin commented on #50
[code]

[2019-02-26 21:07] joe-marrone commented on #50
That worked.  Now  have to resolve the WP out of range issue.

[2019-02-26 21:32] JonasVautherin commented on #50
Can you run the newly-build backend and show me the version number?

And can you try to run `examples/mission.py` again?

[2019-02-26 21:54] joe-marrone commented on #50
The `mission.py` script still does not run.  As soon as the mission is starts, it gives a RTL command.

[2019-02-26 22:05] joe-marrone commented on #50
Tthis is the latest backend build. Strangely it doesn't have the latest revision.
[code]

[2019-02-26 22:38] JonasVautherin commented on #50
Did you run something like `git pull` before `make BUILD_BACKEND=YES`?

[2019-02-27 15:02] joe-marrone commented on #50
I did not do `git pull` os I did that, then ran `make BUILD_BACKEND=YES` again.  During this, there were many errors.  The log file is _very_ long so I am inlcuding only th eend part where most of the errors occurred.
[code]
Then I ran the backend and got this output:
[code]
The backend does work and I can do a manual takeoff and land, but the `mission.py` still stops before the drone leave the gr

[2019-02-27 15:08] joe-marrone commented on #50
Incidentally, the `takeoff_and_land.py` script worked perfectly.
[code]
here is the backend log:
[code]

Joe

[2019-02-27 15:22] JonasVautherin commented on #50
I don't get how you got to backend 0.14.2 while having compilation errors.

Anyway, make sure you are on tag 0.14.2 of DronecodeSDK, that the submodules are up-to-date, and that this builds _without errors_. Maybe you need to read a bit about git in order to achieve that.

I believe `examples/mission.py` doesn't work properly because you don't have the latest version of the backend (or maybe even

[2019-02-27 15:48] joe-marrone commented on #50
Jonas, at this point I'm totally lost.  it sounds like I need to do a total rebuild for the third time.
Initially I am not going to do any development work on the inner code of the sim.  What  I am really interested in is developing some Python scripts to test drone missions before flying them.  All I really need now is a functioning sim that allows me to test specific missions.  Is there any simp

[2019-02-27 20:59] joe-marrone commented on #50
Jonas: I did some reading about git and discovered something interesting.  There are two repos in my system.  Clearly there are differences between them.  I know this can't be good, and am wondering if this is the cause of the problems I'm running into??  IF  I have to rebuild the entire system, I want to be sure there is only ONE clone, so I have to know where to put it.  Does it go into `/src/Dr

[2019-02-27 22:47] JonasVautherin commented on #50
A git repo can go wherever you want. It's just like copying source files, except that there are versioned and you can get the history of changes etc.

Having two different clones is the same as, say, writing your phd thesis in two copies of the same Word document. Say you write 100 pages in `myThesis.doc`, then you copy it into `myThesis-final.doc`, and correct things here and there in `myThesis-f

[2019-02-28 14:21] joe-marrone commented on #50
Jonas, what if I go to ubuntu 18.04? Would that help?

Joe

[2019-02-28 14:48] JonasVautherin commented on #50
On the python side, it would mean that you would not have to install python3.6 and then replace all the occurences in the `run_protoc.sh` script.

On the c++ backend side, it would not change much. For that I am currently working on embedding the backend inside the Python SDK, but that will probably take some time.

[2019-02-28 19:52] joe-marrone commented on #50
I started a new build today, with the intent that `~/DronecodeSDK` is the repository.  Everything in the process went smoothly until building the backend.  Here is the log from that sequence:
[code]
There is no `build/default/backend/` directory.  This never happened before, so not sure why.

[2019-02-28 22:05] JonasVautherin commented on #50
This means that `make` had been called before, so `BUILD_BACKEND` is set to "NO". Can you try to `make clean` before running `make BUILD_BACKEND=YES`?

[2019-03-01 14:56] joe-marrone commented on #50
I did `make clean` and `make BUILD_BACKEND=YES`. But it did not complete.  At step 212 it started to throw errors.
[code]
However, the file `./build/default/backend/src/backend_bin` is now there.  I ran it and the backend did install.  Then  could see the backend working for manual takeoffs.  Then I tried to install the Python wrapper with
`git clone https://github.com/Dronecode/DronecodeSDK-Pytho

[2019-03-01 15:15] joe-marrone commented on #50
UPDATE:  Sorry, I jumped the gun and did not complete the Python install, hence the errors.  I realized that
`pip3 install -r requirements -r requirements-dev.txt` and `./other/tools/run_protoc.sh` had not been installed, and when they were, viola, the sim ran and `mission.py` ran!

But I'm still wondering about the errors in the BUILD_BACKEND=YES install.

[2019-03-01 20:35] joe-marrone opened #54 "Issue Modifying Python Script"
I am starting to use the DronecodeSDK-Python system.  It runs the canned `mission.py` script so I know it works.  But when I change the GPS parameters for my location, the script throws an error message. I did not make any other changes to the script, just the location parameters.  Note that the script freezes up and needs ^C to exit.  I also notice that the error message references another `missi

[2019-03-02 22:36] JonasVautherin commented on #50
So now it works, even though there was a compilation error while building the backend. Is that correct?

[2019-03-04 09:38] JonasVautherin commented on #54
`start_mission()` raised a `MissionError` with code `ERROR` (which you could obviously catch with the usual `try... except...` python construct).

My guess is that your simulator refused to take off because the waypoints you uploaded are too far away from the drone.

Did you try to download the mission from QGC and run it from there?

[2019-03-04 14:04] joe-marrone commented on #50
Yes.  The mission.py script did run successfully despite the error messages from the last backend build.

Joe

[2019-03-04 19:20] joe-marrone commented on #54
After some experminting, I changed the location parameters in MAVLink to my home location. Then I ran the modified `mission.py` script. The drone took off and rose to the specified altitude.  It paused there and then landed.  Just prior to the mission starting it got a RTL command. The mission readouts are below.
1) jMAVSim output:
[code]
2) Backend output:
[code]
3) Python script output:
[code]

[2019-03-04 19:56] JonasVautherin commented on #54
So you say that the mission works fine if you don't change anything from the example, right?

Can you try to _not_ start the mission (comment out the `start_mission()` line), upload the mission, and then download and run it from QGC?

[2019-03-04 20:45] joe-marrone commented on #54
I commented out `start_mission()`.  How do I upload this `.py` file to QGC?  It wants a `.plan` file.

[2019-03-04 21:29] joe-marrone commented on #54
I played around with waypoint locations and did get the `mission.py` to run using the modified parameters. Th only thing I can think of is that I had the waypoints too close together and by putting them further apart I could see the mission running. So now I have a working system.

[2019-03-04 22:22] JonasVautherin commented on #54
Right, so it's not an SDK issue.

That's not what I meant. You can connect both the SDK and QGC to the drone (in this case SITL) at the same time. If you comment out `start_mission()` and run `mission.py`, it will upload a mission to the drone. From QGC, you can download this mission and see how it looks on the map. You can also try to run it.

Closing now, as you figured out why your mission was

[2019-03-04 22:22] #54 closed

[2019-03-08 08:20] IeiuniumLux commented on #48
My apologies for using a close issue. However, it's the only post I found about issues running run_protoc.sh

In my case, it cannot generate the plugins.  The server builds and works fine, but I'm not sure why run_protoc.sh fails.

`[+] Installing the DronecodeSDK autogenerator
Processing /Users/abencomo/git/DronecodeSDK/DronecodeSDK-Python/proto/pb_plugins
Requirement already satisfied: protobuf

[2019-03-08 11:58] JonasVautherin opened #55 "Program not found or is not executable --custom_out: protoc-gen-custom"
My apologies for using a close issue. However, it's the only post I found about issues running run_protoc.sh

In my case, it cannot generate the plugins.  The server builds and works fine, but I'm not sure why run_protoc.sh fails.

[code]

_Originally posted by @IeiuniumLux in https://github.com/Dronecode/DronecodeSDK-Python/issues/48#issuecomment-470845052_

[2019-03-08 12:04] JonasVautherin commented on #55
Did you [install the prerequisites](https://github.com/dronecode/dronecodesdk-python#install-prerequisites) before running `./other/tools/run_protoc.sh`?

I just ran the following successfully on my computer:

[code]

[2019-03-08 12:07] JonasVautherin commented on #48
@IeiuniumLux: I started a new issue with your question in #55.

[2019-03-08 17:38] IeiuniumLux commented on #55
@JonasVautherin, thank you for creating this a new issue.   Yes, I ran successfully all those steps, except for the last one (./other/tools/run_protoc.sh). I'm using Python 3.6.8 and pip 18.1. In the instructions, it's not clear if DronecodeSDK-Python needs to be cloned underneath the DronecodeSDK repo or parallel to it. I did both, and run_protoc.sh still fails.

<img width="1680" alt="screen sho

[2019-03-08 18:36] JonasVautherin commented on #55
It is a separate repo, and should be treated as such. Otherwise I guess it would either be part of DronecodeSDK, or at least a submodule :-). Just clone them separately, that's better :+1:.

From your screenshot, I see that jmavsim is running, the backend succeeded in discovering it, and the python module is not there (obviously, because `run_protoc.sh` failed).

Do you always get exactly the same

[2019-03-08 18:42] IeiuniumLux commented on #55
Yes, I do always get exactly the same message and 'pip install'  ran successfully without reporting any issues. I tried to run 'python -m grpc_tools.protoc' from the prompt, but it fails since files were not generated by run_protoc.sh

<img width="429" alt="screen shot 2019-03-08 at 10 40 23 am" src="https://user-images.githubusercontent.com/3729432/54048501-da96fb00-418e-11e9-9d79-2f69987fcf93.pn

[2019-03-08 19:21] joe-marrone opened #56 "How to implement real-time interrupts?"
Hi again.  I've spent a lot of time in here getting educated on using DronecodeSDK-Python and have a working SITL. Thanks, this help has been much appreciated.

My current question involves the need to write a Python script that can cause a real-time interrupt to a mission while it is running, and change the mission to something else.  Let's say the drone is moving from waypoint 3 to waypoint 4 an

[2019-03-08 22:17] JonasVautherin commented on #55
It's a good idea to checkout the latest release `v0.14.2` instead of `master` :+1:.

So this runs `protoc`, which requires some arguments (including input files). So this error message is normal (you could run e.g. `python3 -m grpc_tools.protoc -h`).

The error message says:

I am wondering if $(which dcsdkgen) just does not find our plugin (`dcsdkgen`, in `proto/pb_plugins`), and results in `""`,

[2019-03-08 22:47] IeiuniumLux commented on #55
dcsdkgen was indeed installed:
<img width="375" alt="Screen Shot 2019-03-08 at 2 45 37 PM" src="https://user-images.githubusercontent.com/3729432/54060280-fad7b180-41b0-11e9-8655-c5d5b905a023.png">

[2019-03-09 05:26] JonasVautherin commented on #55
This doesn't mean it was installed. It means that the submodule is there. I guess `which dcsdkgen` says something like `dcsdkgen not found`, doesn't it?

Are you installing stuff on the system or in a venv?

[2019-03-09 05:40] IeiuniumLux commented on #55
Outputs below:

[abencomo: pb_plugins]$ pip install -r requirements.txt
[code]

pip install -e .
[code]
[abencomo: pb_plugins]$ which dcsdkgen
[code]
nothing when enter which dcsdkgen

[2019-03-09 16:44] JonasVautherin commented on #55
Hmm. And can you find it on your system somewhere? You are on the master branch of DronecodeSDK-Python, right?

Maybe you could also try to install it in a venv instead of the system?

[2019-03-12 09:59] julianoes commented on #55
By default I don't have `dcsdkgen` in my path and I always need to do:
[code]

[code]

[2019-03-12 10:13] julianoes commented on #56
So I can see the need to get notified about keyboard or on-board sensor signals to then change the mission, and this can be accomplished using the SDK (at least in my opinion).

However, I don't think what you need is actual interrupts. Real time interrupts, as far as I know, are very low level and might be used on an OS level or when interfacing to sensors in the drivers. So usually this is for s

[2019-03-12 16:17] IeiuniumLux commented on #55
That did it.  Thanks @julianoes
@JonasVautherin, feel free to close this issue and thank you.
[code]

[2019-03-12 21:15] joe-marrone commented on #56
Thanks for the comments about real time interrupts.  For now I just want to be able to stop a mission in progress and redirect it.  My first attempt was to use `mission.py` as the starting point.  I would like to have the mission stop at each waypoint and ask the question `Do you want to continue the mission?`. Based on the keyboard response, either continue the current mission, or divert into a n

[2019-03-13 10:33] julianoes commented on #56
Yes that's not really how it  works, I'm afraid.

A mission doesn't have a concept of pause until new instructions arrive. What you could do is wait for the mission progress to update and then do `mission_pause`. Once you want to continue you do `mission_start` again. This is slightly clunky because it means you depend on the mission progress subscription which is not guaranteed to work. E.g. when

[2019-03-13 10:35] julianoes commented on #55
Thanks for the feedback @IeiuniumLux.

@JonasVautherin I think we should add that to the docs.

[2019-03-13 13:38] joe-marrone commented on #56
OK.  But then how do you people use lidar sensors or other sensors that control where the drone positions itself?  It seems to me that the drone is flying an autonomous mission but modifies that mission based on an input from an external source, not from the stored mission. That's what I want to simulate with SITL using Python.  Is this not possible?

Joe

[2019-03-13 14:22] julianoes commented on #56
That's not an easy thing to do actually and right now for obstacle avoidance we are doing some "hacks" in the position controller, see:
https://github.com/PX4/Firmware/blob/6672284871d4cd4163e99d68e75831d0495f58c8/src/modules/mc_pos_control/mc_pos_control_main.cpp#L737-L740

Maybe we could add an API for the Dronecode SDK which allows you to set obstacles and avoidance trajectories to be flown.

[2019-03-13 15:22] joe-marrone commented on #56
Somehow I was under the impression that it was possible to use a companion computer to run Python scripts to feed information, like new waypoints, to the Pixhawk in real time. Am I wrong in the assumption?

For the time being, I will try a script that does a mission one waypoint at a time, stop, and request a new waypoint that will be entered manually.  That way I will be managing the mission in "

[2019-03-13 21:09] JonasVautherin commented on #55
@julianoes: Thanks a lot!

So installing a python package system-wide doesn't put it in the PATH? What's the point of installing it on the system then?

[2019-03-13 21:10] #55 closed

[2019-03-14 07:05] julianoes commented on #55
I don't install it system wide, I install it as a user, and that path is not added by default.

[2019-03-14 07:08] julianoes commented on #56
Sure, depending on what you mean with "in real time".

You can pause missions as I wrote above.

You can always modify your mission but right now you need  to re-upload the whole mission which might take some time. For the case of a companion computer it might not be too bad because you have a high bandwidth, stable connection.

Ok, so they can stop at each waypoint and ask you to confirm? I didn'

[2019-03-14 13:51] julianoes commented on #56
If the parameters are set the right way, yes. If it's terribly low it will just land.

Yes, that should totally be doable. The only caveat is that you need to re-upload the mission (or the next waypoint) but that's ok.

The C++ reference is here:
https://sdk.dronecode.org/en/api_reference/classdronecode__sdk_1_1_action.html#classdronecode__sdk_1_1_action_1ab6bcb58fdac1aa7e699f89ed605c7666
I'm not

[2019-03-14 16:21] JonasVautherin commented on #56
We don't have a Python one yet. Right now we must rely on the examples and the proto files. Looking at [action.proto](https://github.com/Dronecode/DronecodeSDK-Proto/blob/master/protos/action/action.proto#L9-L22), `goto()` is not yet implemented. It will come at some point for sure, but I'm not sure if that would solve this issue (or would it?).

[2019-03-14 16:28] julianoes commented on #56
I could be one way to solve the issue. The alternative is to just set one more waypoint every time.

[2019-03-14 16:45] JonasVautherin commented on #56
So `goto()` interrupts the mission and goes back to `hold` mode, right?

[2019-03-14 18:25] joe-marrone commented on #56
I had another thought.  When I fly an autonomous mission on the real drone and switch my transmitter to another flight mode, say MANUAL, or ALT, the mission stops immediately.  Can I capture the way that's done using a python script?  Let's say I'm flying a mission on the SITL and I inject a keyboard command that emulates a switch to ALT mode so the mission stops and it holds position. Then once i

[2019-03-14 21:33] julianoes commented on #56
@JonasVautherin `goto()` goes to a place and stops there. It just does a MAVLink reposition command.

[2019-03-14 21:35] julianoes commented on #56
@joe-marrone

ALT mode hold altitude, you probably mean POSCTL to hold position. Otherwise, the wind will push you away.

Yes, as written above, you do `mission_pause()` and it stops.

:smile:

[2019-03-14 21:44] hamishwillee commented on #56
I believe so.
FYI @julianoes On ardupilot the underlying mavlink message is a guided/offboard command. The implementation to do a goto would be that the system gets put into guided mode, and the command gets resent at the required offboard rate. On completion the system would stop sending the goto message, so the vehicle would automatically drop out of guided into hold mode. Is it similar on PX4/S

[2019-03-14 21:48] hamishwillee commented on #56
@julianoes Ah, ignore my comment above - you're using https://mavlink.io/en/messages/common.html#MAV_CMD_DO_REPOSITION

[2019-03-18 19:19] joe-marrone commented on #56
@team: I found this in the [MAVLink Developer Guide](https://mavlink.io/en/services/):
[code]
This sounds exactly like what I want to do.

Comments?

Joe

[2019-03-18 21:43] JonasVautherin commented on #56
Are you wanting to make some kind of obstacle avoidance?

I am not super familiar with the path planning protocol, but in my understanding, it will not allow you to define a new mission. It is more about modifying the trajectory to the next waypoint (at least that's how it is used in obstacle avoidance).

This is not (yet) supported in the SDK, though. Would you be willing to contribute? First ste

[2019-03-18 21:56] hamishwillee commented on #56
@JonasVautherin @joe-marrone The trajectory protocol has been implemented on PX4 (only) in the obstacle avoidance protocol. Jonas, yes, modifies the current mission, based on a current/next waypoint provided by the vehicle.

There is detailed information on how it works [here](https://docs.px4.io/en/computer_vision/obstacle_avoidance.html).
NOte:
- Trajectory messages are still marked as work in p

[2019-03-19 13:43] joe-marrone commented on #56
Thanks for the replies.  OK, so the trajectory protocol is not supported.  I'd love to jump in and contribute, but I'm not a programmer.  Instead I will have to use existing supported tools.

My goal for the "change mission" approach is related to applications where the original mission is no longer needed. It needs to be stopped where it is, and redirected using a new mission.  I'm looking for so

[2019-03-19 16:43] joe-marrone commented on #56
@julianoes
Thanks, I'll try that.
Another question about the `mission.py` code.  In this snippet, where is `is_in_air` and was_in_air` defined?
[code]

Joe

[2019-03-20 08:40] julianoes commented on #56
@joe-marrone what do you mean defined? The information comes from `drone.telemetry.in_air()` which returns a bool.

[2019-03-20 13:37] joe-marrone commented on #56
@julianoes thanks I should have seen that.

[2019-04-02 18:43] efischer91 opened #57 "SyntaxError: protoc-gen-cu"
Hello,

I've been trying to install the python wrapper as stated here: [DronecodeSDK-Python README.md](https://github.com/Dronecode/DronecodeSDK-Python/blob/master/README.md)

Everything works fine until using the helper script to generate the wrapper. As soon as I start it, I get the following error log:

[code]
I guess it's an error to protoc-gen-custom, but I'm quite new to ubuntu and not sure

[2019-04-02 19:01] JonasVautherin commented on #57
You are on Ubuntu 16.04, I presume? You will need Python3.6+, and it seems to me that you have Python3.5.

[2019-04-02 21:39] efischer91 commented on #57
I'm on Ubuntu 16.04 and have both Python 3.5.2 since it's the pre-installed version and 3.6.7

[2019-04-02 22:18] JonasVautherin commented on #57
`./other/tools/run_protoc.sh` is running `python3`, which in your case defaults to 3.5. Can you try to edit all occurences of `python3` and `pip3` in `proto.sh`?

[code]

[2019-04-02 22:54] efischer91 commented on #57
This helped with running the shell script, thanks! Now, the next problem is that none of the examples seem to work:

[code]

Gazebo simulation is running, backend is running as well. Examples unfortunately don't, even though I did install python3-apt.

[2019-04-02 23:13] JonasVautherin commented on #57
That is actually an error raised by the SDK: `COMMAND_DENIED` when you called `arm()`. You could `try... catch` around `arm()` and do something when this error is raised.

So it seems like it is working: the drone (here Gazebo) is just refusing to arm for some reason (not ready?) :-). What does the `telemetry.py` example say?

[2019-04-03 07:18] julianoes commented on #57
@JonasVautherin what's this about?
[code]

[2019-04-03 07:26] JonasVautherin commented on #57
No clue :sweat_smile:.

@efischer91: Are you sure you installed it with `pip3.6`, by the way?

[2019-04-03 20:18] efischer91 commented on #57
I actually don't know why, but it works fine today :)

Definitely. Everything's working fine now. Thank you!

[2019-04-04 07:36] #57 closed

[2019-04-24 15:24] JonasVautherin commented on #20
So a test version for linux (using manylinux1) can be used with:

[code]

This is relying on [some build system work](https://github.com/Dronecode/DronecodeSDK/pull/724) on the backend side, but the proof of concept is there and it is making good progress.

[2019-04-24 15:52] JonasVautherin opened #60 "Subscribing to a stream cancels older subscriptions"
Currently, at the C++ level, streams like [`position_async()`](https://github.com/Dronecode/DronecodeSDK/blob/develop/plugins/telemetry/include/plugins/telemetry/telemetry.h#L514) register one unique callback. This means that one cannot register two callbacks: the second call will erase the previous one.

I believe that this is not the behavior we want in Python. Already in Swift and Java, a strea

[2019-04-25 08:55] julianoes commented on #60
I agree it would be nice to be able to register multiple callbacks for the wrappers as well as for the C++ API. Now as you asked the question is how to unregister. I don't know what pattern or mechanism is suited for this.

I have the same challenge with various methods that are registered by the plugins against `SystemImpl`. I use a "cookie" which is basically the `this` pointer of the object reg

[2019-04-26 18:09] lioneleeedadad opened #62 "encoding into SDK and sending mavlink messages to the drone."
I have already imported a teleoperation package from github which uses keyboard and written in python also I think that I should use the offboard mode for my task but I don't know how I can encode this teleoperation package into SDK and how to send this mavlink message to the drone.

[2019-04-28 19:50] JonasVautherin commented on #62
That's not clear to me. What is this package, and what do you mean by "encode this package into SDK"?

[2019-04-29 07:27] julianoes commented on #62
You need to provide more details for us to help. Provide the code that you already have. Link to this "teleoperation package". Explain what you're trying to achieve.

Also, it might be a good time to learn about what a C/C++ library is, what header files are, what a binary is and how it all fits together.

[2019-05-24 11:51] SalimTerryLi opened #67 "Failed to build and run."
`******@******:/media/salimterryli/dev-linux/px4/DronecodeSDK-Python/examples$ python3 takeoff_and_land.py
Traceback (most recent call last):
  File "takeoff_and_land.py", line 5, in <module>
    from dronecode_sdk import connect as dronecode_sdk_connect
  File "/media/salimterryli/dev-linux/px4/DronecodeSDK-Python/dronecode_sdk/__init__.py", line 48, in <module>
    from .plugins import * # NOQA

[2019-05-24 14:48] JonasVautherin commented on #67
What does it say when you run `other/tools/run_protoc.sh`?

Could it be related to the just-merged #68?

[2019-05-24 15:43] SalimTerryLi commented on #67
RAW output below. Some Chinese characters due to my region.

`salimterryli@STL-Laptop:/media/salimterryli/dev-linux/px4/DronecodeSDK-Python$ ./other/tools/run_protoc.sh
[+] Installing the DronecodeSDK autogenerator
Processing /media/salimterryli/dev-linux/px4/DronecodeSDK-Python/proto/pb_plugins
Collecting protobuf (from protoc-gen-dcsdk==0.1)
  Using cached https://files.pythonhosted.org/packages

[2019-05-24 22:15] JonasVautherin commented on #67
That seems like a wrong way to fix it.

It seems to me like the error you see is because of #68, or because you haven't installed the protoc plugin (from `proto/pb_plugins`).

Can you try with the steps described in #68? Please update your git clone before doing it, as I merged #68.

[2019-05-25 03:17] SalimTerryLi commented on #67
It works, thank you.

[2019-05-25 03:17] #67 closed

[2019-05-26 11:06] JonasVautherin opened #69 "`NameError: name 'e' is not defined` when running example"
I'm now getting this error after running `example/takeoff_and_land.py`
[code]

[Here](https://gist.github.com/unipheas/4ea0d141fd8ea0341806470b014bc68d) is the entire log for everything I'm doing, hope this helps. I want to add that this is on a fresh install of MacOS on a MacBook Air.

_Originally posted by @unipheas in https://github.com/Dronecode/DronecodeSDK-Python/pull/68#issuecomment-4959879

[2019-05-26 11:07] JonasVautherin commented on #69
The installation seems all good to me. When running the example, it says:

[code]

However, my `dronecode_sdk/plugins/__init__.py` starts with:

[code]

i.e. there is no `-e` at the beginning. It is generated from [this line](https://github.com/Dronecode/DronecodeSDK-Python/blob/master/other/tools/run_protoc.sh#L11) in `run_protoc.sh`:

[code]

I don't get why `-e` gets into the file, though, as i

[2019-05-26 11:15] unipheas commented on #69
Here is some more information regarding the system I'm using for this
[code]

let me know if any other information is required.

[2019-05-26 11:38] JonasVautherin commented on #69
Oh, it seems like `run_protoc.sh` is not compatible with `sh` on macos. So you should run:

[code]

or just

[code]

To fix this issue, I will update `run_protoc.sh` so that it is compatible with `sh` on macos :+1:.

Let me know if that fixes the problem for you!

[2019-05-26 11:48] unipheas commented on #69
IT WORKED!!!!

[code]

[2019-05-26 11:49] unipheas commented on #69
I'd say to make sure to add `git clone https://github.com/dronecode/dronecodesdk-python --recursive` so the user can find photo/pb_plugins.

[2019-05-26 18:07] #69 closed

[2019-06-21 20:20] giovanidiniz opened #77 "Error running python examples"
Hey guys,
I have just tried building the back end and wrappers as it is described in the instructions here.
I don't get compilation errors, but when I run any of the python examples I get gRPC status code `UNIMPLEMENTED`.

I'm not knowledgeable in gRPC servers at all but as far I understand the problem is in the server? Or at least it seems the messages in the server and wrapper and not the same?

[2019-06-23 23:03] JonasVautherin commented on #77
Hello!

Sorry about that, we recently renamed the project to `MAVSDK`, and therefore there are some incompatibilities between the main branches of both project.

To use MAVSDK-Python, just run `pip install mavsdk` (make sure you have python3.6+, it may mean `pip3 install mavsdk`).

Let us know how it goes!

[2019-06-24 00:31] giovanidiniz commented on #77
Hi Jonas,
Is the backend going to be installed pip? So far, I can install the sdk without errors. The issue is I keep getting these UNIMPLEMENTED return codes from the gRPC server:

	status = StatusCode.UNIMPLEMENTED
	details = ""
	debug_error_string = "{"created":"@1561335925.969796887","description":"Error received from peer ipv4:127.0.0.1:50051","file":"src/core/lib/surface/call.cc","file_line"

[2019-06-24 12:55] JonasVautherin commented on #77
Yes, it will, and those two versions will match :-).

Exactly, because of the renaming last week. I'll try to fix that during this week, but in the meantime you should try with `pip3 install mavdsk` ;-).

One thing to note, though (and I will update the examples as well): with the pip-installed MAVSDK, you need to start the backend manually, with `start_mavlink()`. So for instance, add the followi

[2019-06-24 13:43] giovanidiniz commented on #77
SWEEEEEET!!!

This is awesome! Really. Before the renaming the process was a little bit involved but not too hard, but now is super easy.
Thanks so much!
I tested the takeoff and land example in different udp port and it also works. Assume serial port should work fine as well?

[2019-06-24 14:16] JonasVautherin commented on #77
Great! Serial port should work as well, indeed!

[2019-06-24 14:18] giovanidiniz commented on #77
Sweet!
Thanks so much. I'm closing this

[2019-06-24 14:18] #77 closed

[2019-06-24 21:20] Doodle1106 opened #78 "backend_bin is not built."
Hi guys,

I was trying to give it a test and I followed the instructions detailed in README.md. I can build MAVSDK without any error but I cannot find this particular binary file "./src/backend/src/backend_bin", and it seems that this file has been renamed as

    grep -r "add_executable" | grep "backend_bin"

gives no result.

Any suggestion would be great, thanks!
Joey

[2019-06-25 11:20] JonasVautherin commented on #78
Hello! I am currently updating the documentation, we indeed made some renaming last week. `backend_bin` is now called `mavsdk_server`.

Note that for running MAVSDK-Python, you can now just install through pip: `pip3 install mavsdk` :+1:

[2019-06-25 20:14] JonasVautherin commented on #78
I updated the [README](https://github.com/mavlink/MAVSDK-Python). Closing this, assuming that `pip3 install mavsdk` solves your problem.

Please reopen if you actually want to build from sources.

[2019-06-25 20:14] #78 closed

[2019-06-25 20:15] JonasVautherin commented on #20
That's done! `pip3 install mavsdk` now works on Windows, macOS and Linux!

[2019-06-25 20:15] #20 closed

[2019-06-25 20:16] JonasVautherin commented on #56
Closing due to inactivity, please reopen (or open a new issue) if needed.

[2019-06-25 20:16] #56 closed

[2019-06-25 20:16] JonasVautherin commented on #62
Closing due to inactivity.

[2019-06-25 20:16] #62 closed

[2019-06-30 06:46] bozkurthan opened #81 "Offboard Mode Problem (status = StatusCode.UNIMPLEMENTED)"
Hello I' tried to switch offboard mode from examples/offboard.py by running `examples/offboard.py` in PX4 Sitl gazebo v1.9.0.

But I got following error:

[code]

I tried to run with `python3 examples/offboard.py ` as well but same error appeared. examples/takeoff_and_land.py worked without error.
By the way, I installed MAVSDK with pip3.

Thanks for helping

[2019-07-01 08:24] julianoes opened #82 "Generate reference docs for Python frontend"
@JonasVautherin we should generate reference docs for the Python bindings.

[2019-07-01 11:55] julianoes commented on #81
@JonasVautherin do you know what's happening here?

[2019-07-03 07:36] JonasVautherin commented on #82
Agreed. The idea is to generate docs (doxygen-like) from the proto files. I am quite sure it is possible, and I had seen somebody doing that specifically for C#. I'd like to do something similar, but for all our bindings at once.

If somebody wants to look into how to extend our protoc plugin to do that, I'm happy to have a discussion :blush:.

[2019-07-04 11:33] RaulGH25 opened #84 "Not possible to connect using serial - ttyUSB with python?"
From the MAVSDK (C++) it is possible to connect an offboard computer (i.e.Odroid XU4) using a serial connection, specifying the correct path (i.e. "/dev/ttyUSB0:57600"). In the Python examples, the connection is always done as "drone = mavsdk_connect(host="127.0.0.1")", which works great with jmavsim or other simulators. However, it does not work with a serial connection to the pixhawk (using a US

[2019-07-04 13:14] JonasVautherin commented on #84
It is possible, actually :blush:. When you call [`start_mavlink()`](https://github.com/mavlink/MAVSDK-Python/blob/master/mavsdk/__init__.py#L71) (I assume you installed mavsdk using `pip3 install mavsdk`, let me know if that's not true).

So `start_mavlink("/dev/ttyUSB0:57600")` should do it!

[2019-07-05 00:37] hamishwillee commented on #84
@JonasVautherin Since we don't yet autogenerate docs, setting up the link should be documented in the readme https://github.com/mavlink/MAVSDK-Python - hint!

[2019-07-07 11:54] JonasVautherin commented on #52
That is fixed now.

[2019-07-07 11:54] #52 closed

[2019-07-07 13:40] aydal opened #85 "Can't change takeoff altitude using set_takeoff_altitude()"
Hey guys,
I tried to change the altitude in takeoff_and_land.py through the following code but ran into an error. Looks like a bug. Would be grateful for insights and help on this!

[code]

Terminal output:

[code]

[2019-07-10 08:07] julianoes opened #86 "Document `mavsdk_connect` vs. `start_mavlink`"
I often see people confused about the usage of `mavsdk_connect` vs. `start_mavlink`. We should either make the API clearer or document it better, I think.

[2019-07-16 13:26] JonasVautherin commented on #86
Right. So to give context:

* `start_mavlink()` starts `mavsdk_server`, which manages the MAVLink connection
* `connect()` instantiates the object that contains the different plugins

So you typically do:

[code]

In Swift, we do:

[code]

So in Python, `connect` could become `create_drone()` or something like that, maybe?

@unipheas was suggesting `startMavlinkConnectionToDrone()` or `startConnec

[2019-07-16 13:29] unipheas commented on #86
My suggestions is based on Swift guidelines for being "Swifty" (No relations to the song Schwifty).

[2019-07-16 14:01] JonasVautherin commented on #85
Sorry for the delay @aydal, I've been a bit overwhelmed.

I'm thinking that you may actually contribute to that issue, as now you are familiar with gRPC from the `PositionNED` PR :-).

If you look at [`SetTakeoffAltitude`](https://github.com/mavlink/MAVSDK/blob/develop/src/backend/src/plugins/action/action_service_impl.h#L173):

[code]

You can see that `response` is ignored. Which is wrong: we ne

[2019-07-17 00:36] hamishwillee commented on #86
FWIW
1. This is pretty clear - can users see it in the docs/alongside the source?
[code]
   - I prefer the existing name to `startMavlinkConnectionToDrone` et al - to me this just doubles the confusion because we have two methods that "connect"
   - You could spell it out by renaming to `start_mavlink_server`.
   - does this manage just one connection, or is it managing multiple connections?

2. T

[2019-07-17 09:33] JonasVautherin commented on #86
Not really: `connect()` connects you to `mavsdk_server`, while `start_mavlink()` starts `mavsdk_server` on your device/computer. But it could be that `mavsdk_server` is running, say, on the remote controller, and you don't need `start_mavlink()` at all: just set the IP of the remote controller in `connect()`.

Also, for now `mavsdk_server` manages only one (client) connection because of a limitati

[2019-07-17 10:17] hamishwillee commented on #86
OK. So it sounds like it is actually "start_mavlink_server" and "connect_to_server"? That sounds not quite right, because then how would the connection from the backend to the drone itself be configured.

[2019-07-17 11:29] JonasVautherin commented on #86
Precisely.

The only configuration needed is the connection url. Right now in Python you do `start_mavlink(connection_url)`, and in swift you have one more call `setMavlinkPort(connection_url); startMavlink()` (where `setMavlinkPort(connectionUrl)` could be renamed to `setMavlinkUrl(...)`, but that is what started this whole wording discussion on the swift side :sweat_smile:).

So it could become

[2019-07-17 15:43] SelimOzel opened #88 "pip install on Windows: "no matching distribution found for mavsdk""
Am I doing this right? Please see the attached image.

![MavSDK_Pip](https://user-images.githubusercontent.com/14966637/61390064-ea29fd00-a86e-11e9-9d12-52755bd46811.png)

[2019-07-17 17:58] JonasVautherin commented on #88
Nope, you're apparently doing it right, but pip decided that your system was not compatible. What system are you running on? Windows 10, 64 bits?

[2019-07-17 18:11] SelimOzel commented on #88
Yes, that's the system! Thanks.

[2019-07-17 18:34] JonasVautherin commented on #88
Ok, I need to have a look at that. I'll keep you posted ASAP!

[2019-07-17 18:35] SelimOzel commented on #88
No worries! And thanks once more!

[2019-07-17 22:41] hamishwillee commented on #86
I think naming things to reflect what they really are is better - so to me this would be a step in the right direction.
- But `connection_url` is overloaded. And does this need to be a URL or can it be a serial port name?
- Does the mavlink server have to be specified as an IP address/URL?

So something<sup>++</sup> like:
- `start_mavlink_server(drone_address)`
- `drone = connect_to_server(server_

[2019-07-18 06:31] JonasVautherin commented on #86
Those make sense to me. And swift would have `let drone = Drone(server_address)` instead.

[2019-07-18 06:48] bozkurthan commented on #81
The error still exists.. FYI @irsdkv

[2019-07-18 06:50] hamishwillee commented on #86
me too, though we need to make it clear the possible format of both those addresses, and if there are sensible defaults to assign them.

@unipheas - does this naming convention make things more clear for you?

[2019-07-18 07:18] bozkurthan commented on #81
[code]

[2019-07-18 07:29] unipheas commented on #86
I like those and they work. However, I do want to bring something else up. In Swift naming conventions we don't use `_`  and each function parameter has both an argument label and a parameter name. So, it would look something like this;
[code]
Then we could call it like so;
[code]

If you don't want to deal with the parameter and argument label then we can define a function like this;
[code]
and c

[2019-07-18 07:56] JonasVautherin commented on #81
It is not.

What are you trying to run? Did you install using `pip3 install mavsdk`? Do you run `mavsdk_server` through `start_mavlink()`, or do you start another binary manually?

[2019-07-18 08:28] bozkurthan commented on #81
I installed with pip3 install mavsdk on ubuntu 16.04. This is log:
[code]

After it I just follow these steps:
1. `sudo make posix gazebo `
2. `python3 examples/offboard.py`

And getting error. Sorry for my misunderstanding but Does start_mavlink() already implemented in offboard example?

https://github.com/mavlink/MAVSDK-Python/blob/dff711afb9e2fa3407b9b5602f582d72670550c5/examples/offboard.py#L

[2019-07-18 08:47] JonasVautherin commented on #81
No you're actually right, it's not working with offboard. Let me make a new release today :+1:.

[2019-07-18 09:01] irsdkv commented on #81
@bozkurthan
Hm in my case this was fix same issue.

Did you try
`git submodule update --init --recursive`

?

[2019-07-18 09:04] JonasVautherin commented on #81
Yes but the one installed from `pip3 install mavsdk` is still wrong :-). Let me release 0.2.0 ASAP!

@bozkurthan in the meantime, you can build mavsdk-python from `master`, as suggested by @irsdkv.

[2019-07-18 14:47] julianoes commented on #88
I tried to reproduce this on Windows 10 64 bit with Python 3.7.4 and it worked successfully:

[code]

[2019-07-18 14:54] bozkurthan commented on #81
@irsdkv and @JonasVautherin thanks for kindly helping. I was feeling fool :)

Build finished with warning even I used `git submodule update --init --recursive`

[code]
After that used `sudo python3.6 setup.py build `command.
Here is the new error, cannot find mavsdk_server file:

[code]

I manually started server by using `sudo ./usr/local/lib/python3.6/dist-packages/mavsdk` by it gives error for

[2019-07-18 15:37] JonasVautherin commented on #81
By calling `setup.py`, you're trying to package it. But I guess you don't want to release a new package, you just want to build `master` :sweat_smile: . Just try to follow ["build and run from sources"](https://github.com/mavlink/MAVSDK-Python#build-and-run-from-sources).

[2019-07-18 15:38] JonasVautherin commented on #88
@SelimOzel: what's the output of `pip3 --version` and `python3 --version`?

[2019-07-18 15:46] bozkurthan commented on #81
Oh god, absolutely no :sweat_smile:
 Thanks for kindly responding. I didn't look at the instruction. I think I need some rest :disappointed_relieved:

[2019-07-19 07:19] JonasVautherin commented on #81
@bozkurthan: It seems to me that you are on Linux, right? Can you try to update `mavsdk` now? Something like:

[code]

should give you mavsdk-python 0.2.0, where offboard works (thanks to @irsdkv :blush:)!

[2019-07-19 10:58] hamishwillee commented on #86
@unipheas Thanks for taking the time to bring the Swift point of view - really appreciated. @JonasVautherin  I don't think I can add anything else to this, but feel free to drag me back in if you need to.

[2019-07-19 16:56] jarednm opened #92 "Get single latest telemetry item"
Is there a way to make a call to just get the latest telemetry (e.g. position)?  I'd rather not create an entire co-routine using `async for position in drone.telemetry.position():` syntax.

It seems that currently, drone.telemetry.position() uses `yield` rather than `return` so the`next()` data point will not be the latest, but will be the first one since the last time it was called.

[2019-07-20 00:28] SelimOzel commented on #88
![PipError](https://user-images.githubusercontent.com/14966637/61571725-62004f00-aa4a-11e9-9e23-c545c582a004.png)

It should be `pip 19.1.1` and `python 3.7.2`. I am not certain if all path variables are correct on the particular laptop I'm using. I haven't used python in a while with this laptop. I'll give this command another shot with the setup I got home.

[2019-07-20 04:45] JonasVautherin commented on #88
But Python 3.6+ should be fine. Here somehow pip decides that your machine is not compatible, and I don't get why :thinking:...

[2019-07-20 04:55] JonasVautherin commented on #92
I don't think you can use `position()` as a polling interface unless you do something like:

[code]

It is probably fine if you call that only once, but not ideal if you call it in a loop. The point is that we provide telemetry as a stream, and you have to consume it.

But you could totally update your state from that stream and write your own polling interface allowing you to get the latest value

[2019-07-20 10:29] crisdeodates opened #93 "aiogrpc pip error"
While compiling from source, I found an error:

[code]
I  manually installed aiogrpc using "pip3". Seems like there is no aiogrpc in the pip verion.

[2019-07-20 11:52] bozkurthan commented on #81
Thanks to both of you my little iris' running sweetly. I'm closing issue thanks for fixing. @irsdkv @JonasVautherin

[2019-07-20 11:52] #81 closed

[2019-07-20 13:57] zulufoxtrot opened #94 "Inconsistent reporting of health data"
I’m trying to simulate a loss of GPS lock in SITL, using `gpssim stop` as suggested by the documentation. While QGC correctly reports the loss, the SDK’s Health query still returns `is_local_position_ok: True, is_global_position_ok: True, is_home_position_ok: True`.

### Steps to reproduce
1) Launch an instance of PX4 in SITL and wait for EKF to get a position.

2) Launch your piece of code.

[cod

[2019-07-20 14:30] JonasVautherin commented on #93
Works for me... :thinking:

Just now, in a venv:

[code]

[2019-07-21 01:38] SelimOzel commented on #88
Just to be clear. This is not a critical problem for me. I just wanted to give more data points to work with to whoever ends up solving it.

I tested following commands in the image on my home setup with a Windows 10, x64 PC. Still getting the same error.

![MavSDK Error](https://user-images.githubusercontent.com/14966637/61585948-a01a7300-ab1d-11e9-8d8c-a1620d0db6f0.png)

[2019-07-21 09:15] bozkurthan commented on #88
I'm here for same Issue for raspberry pi 4. I tried to download and install manually but no chance.

![2019-07-21-120305_1920x1080_scrot](https://user-images.githubusercontent.com/44507545/61589317-e371f180-abb0-11e9-81ac-b80909076b0e.png)

I tried to follow this instruction but it gives me error too:

On ubuntu bionic it was running well.

[2019-07-21 10:09] JonasVautherin commented on #88
That's normal, we don't distribute for arm (yet). We have linux_x86_64, windows 64 bits and macOS. Now I don't get why the pip of @SelimOzel doesn't detect it as windows-compatible.

@SelimOzel: Could you try to download the wheel [here](https://pypi.org/project/mavsdk/0.1.0/#files) and install it manually?

[code]

[2019-07-22 00:13] SelimOzel commented on #88
My system type is x64-based PC and CPU is i7-7700 as written in System Information panel of Windows 10. I downloaded the .whl file in the link you provided into C:\>Wheel and run the install command from there. Unfortunately it still is complaining about platform and support. :(

![ArchitectureWindow](https://user-images.githubusercontent.com/14966637/61599138-e71a6e00-abda-11e9-8c66-30ecbbcdccdd.

[2019-07-22 10:49] iemre98 commented on #88
Can't we use with raspberry pi?

[2019-07-22 11:15] JonasVautherin commented on #88
You can, but you have to compile `mavsdk_server` manually, as we don't provide it with the pip package yet.

[2019-07-22 14:27] #94 closed

[2019-07-22 21:26] JonasVautherin commented on #84
@RaulGH25: is that working?

[2019-07-22 21:41] JonasVautherin commented on #88
@SelimOzel can you try to see if a verbose call of pip gives useful info?

[code]

[2019-07-22 21:48] RaulGH25 commented on #84
Yes, it is working very well. Thank you!

[2019-07-22 22:24] #84 closed

[2019-07-23 02:22] xdwgood commented on #93
I also encountered the same problem.

[2019-07-23 09:55] julianoes commented on #93
@crisdeodates and @xdwgood on what system is that?

Can you paste the whole output, as well as `python3 --version` and `pip3 --version`, and make sure you run everything with `python3` and `pip3`.

[2019-07-23 10:04] crisdeodates commented on #93
@julianoes , was about to post.. Solved the issue by
[code]
and then running the python examples using "python3" instead of python

Feels like MAVSDK has issues in Python 2.X, but works perfectly in Python 3.X

[2019-07-23 10:07] julianoes commented on #93
Yes, always Python3.

@JonasVautherin we should change all instructions to always show python3, that might get rid of some of the problems!

[2019-07-23 10:07] #93 closed

[2019-07-23 13:44] JonasVautherin commented on #93
Well, the README starts by saying that in "Important Notes", and this issue started with "I manually installed aiogrpc using "pip3". Seems like there is no aiogrpc in the pip verion.", which is why I did not look into the python version.

If we put `python3` everywhere in the instructions, people on Ubuntu 16.04 will be running `python3.5` and that will fail again So should we then write `[python3

[2019-07-23 21:14] giovanidiniz opened #97 "Performance benchmark"
Hi guys,
I'm playing around with a ROS2 node using the MAVSDK-Python to take care of the mavlink side of things.
I was wondering if any of you have done a performance benchmark with telemetry broadcasting (global position, battery, system health, etc).
The highest rate I can get so far is about 0.5 Hz.
I don't think the intent behind the SDK is to provide high-freq control (at least not for now) b

[2019-07-24 08:58] julianoes commented on #97
The rate depends on the rate that the MAVLink messages are sent over the link. Therefore, I'd do the measurements on something that is sent at a higher rate such as attitude.
I would expect (or hope) to get rates at least around 20 Hz if not than something is presumably wrong and needs fixing.

I would however not expect the language wrappers to do high(er) performance things at e.g. 250 Hz, for t

[2019-07-24 12:22] julianoes commented on #88
<img width="689" alt="Capture" src="https://user-images.githubusercontent.com/1419688/61793022-f95efc80-add2-11e9-9ac2-473d76c11689.PNG">

[2019-07-25 07:16] aydal commented on #85
Hello Jonas,
Apologies for the late reply. Have built and checked the changes. Changes visible on PR

[2019-07-25 10:25] JonasVautherin commented on #85
Which PR?

[2019-07-29 12:34] eanmikale opened #98 "Error - No module named SDK"
Hi,
We are having issues with the Python-wrapper. We have the wrapper installed in the MAVSDK src folder, upgraded to python3.7 from 3.5 to run it, and we keep getting a "No module named MAVSDK" error message. Please see the output below, and any assistance is greatly appreciated.

Python 3.7.2 (default, Jul 28 2019, 17:34:51)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "l

[2019-07-29 12:43] JonasVautherin commented on #98
Did you run `pip3.7 install mavsdk`?

This usually means that `mavsdk` is not installed.

[2019-07-29 12:53] julianoes commented on #98
In that case make sure to re-install it with python3.7. The installation might only be for 3.5.
Try:
`pip3.7 install mavsdk` or check the version of your pip: `pip3 --version`

[2019-07-29 18:41] HanbumKo opened #100 "UDP, serial port connection"
I installed mavsdk(0.2.0) at Python3.6(/usr/bin/python3.6) using pip.
And I start 2 SITL(jmavsim), one drone has udp:127.0.0.1:14540, the other drone has udp:127.0.0.1:14541.
The problem is that when I do
[code]
It works well with the drone using 14540 port. (When I put "127.0.0.1:14540", it shows error)

But I also wanted to connect with 14541, but it shows error. (host="127.0.0.1:14541")
And
I c

[2019-07-29 18:42] HanbumKo commented on #100
I also tried
`"udp://127.0.0.1:14541"`
but same result

[2019-07-29 18:47] julianoes commented on #100
Sorry this is indeed confusing, see #86.

But basically:
[code]

@JonasVautherin do you agree now that it's not optimal :smile:.

[2019-07-29 19:17] HanbumKo commented on #100
What a fast response!!

Oh, I misunderstood the codes. I've been trying like
[code]
After changing codes like
[code]
It works well.

But one more question, then, how can I deal with multiple drones at the same time? Should I run python codes separately?

[2019-07-30 08:49] julianoes opened #102 "Example with multiple drones"
It would be good to provide an example how we can use the Python wrappers to connect to multiple drones at the same time.

It's a bit tricky because we need to run a `mavsdk_server` for each drone.

[2019-07-30 08:50] julianoes commented on #100
That's currently not supported in Python yet because it means you need to run the `mavsdk_server` multiple times on different gRPC ports.

I've created an issue for this request #102, and I'll close this one.

[2019-07-30 08:50] #100 closed

[2019-07-30 15:13] Benjdu76 opened #103 "Missing dll on windows"
When I run an example, I get errors which said that :
- libgcc_s_seh-1.dll is missing
- libwinpthread-1.dll is missing
- libstdc++-6.dll is missing

I also have the following error in the python shell :
`grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with:
        status = StatusCode.UNAVAILABLE
        details = "failed to connect to all addresses"
        debug_error_string = "{"

[2019-07-30 17:58] JonasVautherin commented on #102
Or maybe we should extend the API to support multiple drones like in MAVSDK-C++. We talked about that a while ago, if I remember correctly :blush:.

[2019-07-30 18:13] JonasVautherin commented on #103
Building with Visual Studio? Would you have an idea what is missing in our CMakeLists for this to work correctly?

[2019-07-31 07:57] Benjdu76 commented on #103
I installed the package from pip. But there is no need to build the package from source ?
Anyway I will try to see if it changes something

[2019-07-31 11:52] JonasVautherin commented on #103
Right, sorry I missed that part. It's an issue at the `mavsdk_server` level: we are apparently not building it such that it runs standalone on Windows (because it relies on those DLLs you mention).

Let me transfer that to the MAVSDK repo.

[2019-08-01 13:29] v2h commented on #88
I'm having the same problem on both my personal laptop and work laptop (Windows 10 64 bit, python version 3.7.4). Here is the output for `pip3 -vvv install mavsdk` :

![grafik](https://user-images.githubusercontent.com/8110134/62297255-30877a80-b471-11e9-8d48-06edf54b0d95.png)

[2019-08-02 00:01] JonasVautherin commented on #88
Thanks @v2h for the input!

It seems like it tries to install `mavsdk-0.1.0-py3-none-macosx_10_9_x86_64.whl`, which obviously doesn't match. Interestingly, it does not mention the other variants.

Would you mind trying to [download the wheel](https://files.pythonhosted.org/packages/54/e1/7a982a0728b54231bb5ce8ceb89dec92d22829d9b047f58e85f34509e72c/mavsdk-0.1.0-py3-none-win_amd64.whl) directly and

[2019-08-02 00:35] v2h commented on #88
@JonasVautherin here are the outputs from `$ pip3 -vvv install mavsdk-0.1.0-py3-none-win_amd64.whl`:

![grafik](https://user-images.githubusercontent.com/8110134/62335924-2b0c4d80-b4ce-11e9-96b9-779cc8d27a88.png)

[2019-08-02 08:22] JonasVautherin commented on #88
Should it have another name? Like `win_x86-64` or `win-arm64` or something like that?

Would you mind trying different solutions? Or maybe there is a list somewhere online (I'm on holiday, I don't have access to a computer right now :blush:)

[2019-08-02 14:30] v2h commented on #88
@JonasVautherin `win_x86-64` didn't work either. Enjoy your holiday (:  I'll try to figure it out and let you know.

[2019-08-05 11:01] julianoes commented on #88
@v2h why are you using `python37-32`? This looks like it's the 32 bit version of Python.

[2019-08-05 11:13] julianoes commented on #88
I can reproduce this with Python 3.7 32 bit:

<img width="543" alt="python32" src="https://user-images.githubusercontent.com/1419688/62460622-5645a580-b737-11e9-9f00-dd03f24000f4.PNG">

[2019-08-05 11:21] julianoes commented on #88
@v2h I think in the longer term we would like to support 32 bit as well but for now I suggest to install the Python 64 bit version to workaround this.

[2019-08-05 11:54] v2h commented on #88
@julianoes @JonasVautherin ahhh silly me, I was messing around with Python 2 and 3, and then mistakenly installed the 32 bit version. Reinstalled Python 64 bit and everything works now. Thanks alot!!

[2019-08-05 11:56] julianoes commented on #88
Yay, glad! I'll close this then.

[2019-08-05 11:56] #88 closed

[2019-08-07 09:01] MaEtUgR commented on #88
I had the same problem, thanks to @JonasVautherin for hinting me towards the 32/64-Bit issue. I think the root cause of the problem is the python website which offers a huge download Python for windows button that when pressed installs you the 32-Bit version (in 2019!). It also doesn't mention that it's 32-Bit neither on the button nor in the installer file name. It should offer also a 64-Bit butt

[2019-08-07 13:44] JonasVautherin commented on #88
Maybe we should also publish a 32 bits artifact for Windows? Does that make sense?

[2019-08-08 07:15] julianoes commented on #88
Yes, I think that will spare some troubles.

[2019-08-09 15:36] raul7 commented on #81
Hi,
I'm having the same issue, but with all python examples. I'm on Windows 10 using Anaconda, installed mavsdk using pip. I tried to upgrade to ver. 0.2.0 using "pip install --upgrade mavsdk" but it says "already up to date" and shows that I'm still with ver. 0.1.0.

If I uninstall, and then try to re-install using "pip install mavsdk==0.2.0", I get:
[code]
Any hints about why I can't upgrade to

[2019-08-09 19:48] JonasVautherin commented on #81
Windows is still on version 0.1.0, and therefore only works with `mavsdk_server` coming from pip. If you built `mavsdk_server` from sources, that's most likely the reason why it doesn't work.

However, that's not related to this issue. Would you mind opening a new issue, explaining what you run to get the UNIMPLEMENTED error? :blush:

[2019-08-12 21:50] HanbumKo commented on #102
Is there any update?? Or is there any reference issue of this??

[2019-08-13 07:15] julianoes commented on #102
No there is currently no update from our side as it is not our priority.

Would you be able to contribute/work on this?

[2019-08-13 18:16] HanbumKo commented on #102
Yeah I could. But I need to understand this system and codes before doing this. Is there any additional development documentations of MAVSDK? Thanks.

[2019-08-13 22:49] hamishwillee commented on #82
I'd love to work on this. Just time poor. Python docs  are petty standardised, and most use Sphinx to auto extract comments.

[2019-08-13 23:26] JonasVautherin commented on #82
Note that we should first get the comments there :sweat_smile:. That's the issue [here](https://github.com/mavlink/MAVSDK-Proto/issues/91).

[2019-08-14 07:38] julianoes commented on #102
You have probably seen this? https://mavsdk.mavlink.io/develop/en/cpp/

Do you already understand the C++ API, gRPC backend and language frontends? If not I'd suggest to look at the C++ API first and see how multiple drones are working there.

[2019-08-24 01:38] HanbumKo commented on #102
I'm not familiar with gRPC. OK let me see C++ API first and would do that. But now I've been focusing on other project, so I couldn't say 'I can!!'. Thanks!!

[2019-08-29 17:59] JonasVautherin commented on #98
@eanmikale: Any news about this issue?

[2019-08-30 20:47] JonasVautherin commented on #92
Closing for inactivity. Feel free to re-open if needed.

[2019-08-30 20:47] #92 closed

[2019-08-30 20:48] JonasVautherin commented on #97
Closing this, feel free to re-open if needed.

[2019-08-30 20:48] #97 closed

[2019-08-30 20:51] JonasVautherin commented on #85
@aydal: Any news on that? I remember you worked on that but I lost track eventually :confused:.

[2019-08-30 20:52] JonasVautherin commented on #98
Well, that issue seems inactive, so I'll close it. Feel free to reopen if the problem comes back!

[2019-08-30 20:52] #98 closed

[2019-09-03 06:00] julianoes commented on #98
Closing, please re-open if the problem remains.

[2019-09-04 03:05] #82 closed

[2019-09-04 03:41] JonasVautherin commented on #86
In #105, I propose a new syntax where we only do:

[code]

We can specify the `mavsdk_server_address` and the `drone_address`, too:

[code]

@hamishwillee: do you have an opinion there?

I opened another issue to address ['drone' vs 'vehicle' vs 'system'](https://github.com/mavlink/MAVSDK-Proto/issues/104).

[2019-09-04 06:14] hamishwillee commented on #86
As in other issue, I prefer System, but then I don't need to do the work of changing from `Drone`.

I quite like the mechanism you propose above, particularly if the two addresses have default values that mean you don't need to enter anything if you don't want.

[2019-09-04 08:20] julianoes commented on #82
Awesome, we should also publish them somehow on s3 and link to them.

[2019-09-04 13:40] petergerten opened #106 "Support for import_qgroundcontrol_mission"
Hi,

it seems there is currently no support for the import_qgroundcontrol_mission() method.
I am a bit confused on how this works. If the wrapper is auto-generated, wouldn't it have the same functionality as the "main" MAVSDK?

Peter

[2019-09-04 18:07] JonasVautherin commented on #86
But then should it be `system_address` instead of `drone_address`/`mavlink_address`?

[2019-09-04 18:16] JonasVautherin commented on #106
Hello!

The support exists in C++, but not yet in the other languages. Maybe a part of [this presentation](https://www.youtube.com/watch?v=GXt-eXJ9vfg&feature=youtu.be&t=299) can help on the wording there.

To summarize, it is planned to autogenerate everything down to the C++ API, meaning that everything we have in C++ will always exist in all other languages. Currently, the "glue code" (or what

[2019-09-05 03:37] hamishwillee commented on #86
Yes.

[2019-09-10 00:18] pklapperich commented on #86
Something else that would help with this is if the function prototypes and docstrings were more clear.

[code]

From the examples, I know **a** parameter I can pass is `host="ipaddress"`, but what other parameters are supported? `*args, **kwargs` doesn't tell me much. And then I look at the code and and it just passes everything I give it to AsyncPluginManager which does have a nice docstring and

[2019-09-11 13:48] JonasVautherin commented on #86
@pklapperich: I updated #86 following your comment. Feel free to review there :+1:.

[2019-09-13 18:37] minimal1 commented on #85
Is this part updated ?

[2019-09-13 22:11] minimal1 opened #107 "Is there set_configuration() function in MAVSDK-Python ?"
I wanna use MAVSDK as CompanionComputer, not as GroundStation.

I just got to know set_configuration function in MAVSDK-C++.

So, I thought that would be in MAVSDK-Python, too.
But I couldn't find that. Is there set_configuration() function in MAVSDK-Python ?

[2019-09-14 13:00] JonasVautherin commented on #107
You're right, this is not available from the language bindings (including Python). I guess that could be added as part of the ["core" plugin](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/core/core.proto)...

@julianoes: any opinion on that?

[2019-09-16 17:09] minimal1 commented on #107
I see.
I just did hardcoding in the C++ code to set  the MAVSDK-Python to 'CompanionComputer', not 'GroundStation'.

Thank for replaying.

[2019-09-16 19:53] JonasVautherin commented on #107
That's a reasonable workaround.

I'm now wondering if that should be added as a feature of the core plugin, or as a configuration option when starting `mavsdk_server` :thinking:...

[2019-09-17 07:01] julianoes commented on #107
@JonasVautherin what is the core plugin? Is that an actual thing? Otherwise adding it as a config for the `mavsdk_server` seems good.

[2019-09-17 07:16] #53 closed

[2019-09-17 07:16] #86 closed

[2019-09-17 07:21] JonasVautherin commented on #107
It is some kind of [weird plugin](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/core/core.proto) :sweat_smile:. That's the one you use to get the `ConnectionState` (<`uuid`, `is_connected`> pair). It doesn't really map one-to-one to the C++ core impl, not sure yet how it will evolve.

Adding it as a config to `mavsdk_server` makes it even more manual to maintain. We may have to manual

[2019-09-28 14:22] irsdkv opened #110 "More than one nested enum cause error."
Putting more than one `enum` in proto `message` cause error.
Example:

[code]

Run protoc:

[code]

Error:

[code]

[2019-09-28 19:21] JonasVautherin commented on #110
Oh, that's good to know. I'll have a look at the protoc plugin.

[2019-09-29 10:09] Maef opened #112 "PyPI package needs updating?"
The package in the Python Package Index still contains references to the old names (Drone vs now System). Running those examples will give errors on 'System'. Updating the PyPI package will bring the 'pip install mavsdk' back in sync with the current examples.

[2019-09-30 17:55] EkpoEsua opened #113 "Please I need help can't get started with MAVSDK-Python, ImportError: cannot import name 'System' from 'mavsdk'"
Please, I really don't know how to use this repo,
After installing the mavsdk using the command

`pip3 install mavsdk`

do I need to clone the repo?.
If I try running the example, I get

`from mavsdk import System ImportError: cannot import name 'System' from 'mavsdk''`

I can't seem to follow up with the read.me. a little explanation on how to get started would be appreciated. Thanks

[2019-09-30 22:10] JonasVautherin commented on #113
That's an issue indeed, I will release a new version tomorrow, so that you can update using `pip` and the examples will work. Sorry about that :confused:!

This was already reported over the week-end in #112, so I'll close this issue. Feel free to continue the discussion there or open a new issue if necessary!

[2019-09-30 22:10] #113 closed

[2019-10-01 08:15] EkpoEsua commented on #113
I did some findings and discovered that System.py module is not available in the downloaded mavsdk package and there was no System class in the __init__.py module either.

[2019-10-01 11:10] EkpoEsua commented on #112
I did some findings and discovered that System.py module is not available in the downloaded mavsdk package and there was no System class in the init.py module either.

[2019-10-03 17:32] JonasVautherin commented on #112
Version 0.3.0 got released (for Linux, for now)! Please try it and give your feedback here!

* `pip install mavsdk` to install
* `pip install --upgrade mavsdk` to update

The examples (with `System`) will work with 0.3.0.

[2019-10-03 17:32] #112 closed

[2019-10-03 17:34] EkpoEsua commented on #112
Alright, great!, right away, Sire.

[2019-10-03 21:49] JonasVautherin commented on #112
Right, it actually depends on the default version on your system. But you're right, MAVSDK requires python 3.

[2019-10-06 19:11] yingshaoxo opened #115 "Generate wrapper again at raspberry pi 3b+ will get weird thing"
The system image is `2019-07-10-raspbian-buster-lite.iso`

The python version is  `Python 3.7.3 (default, Apr  3 2019, 05:39:12)`

The generate command I was using is `./other/tools/run_protoc.sh`

The result I got is something like this: `from . from . import geofence_pb2 as geofence__pb2`, which cause a syntax error.

If I do the generation process again, I'll get something like this: `from . fr

[2019-10-07 08:15] JonasVautherin commented on #115
Hmm that's interesting... I don't think it happens to me.

This said, I just merged #114, so you should be able to use it without having to generate the code yourself: [examples/geofence.py](https://github.com/mavlink/MAVSDK-Python/blob/master/examples/geofence.py).

Note that there is a [bug in `mavsdk_server`](https://github.com/mavlink/MAVSDK/issues/871) regarding the geofence (it does upload t

[2019-10-08 13:11] yingshaoxo commented on #115
Man, I don't know what you are talking about.

But to be honest, the best way to solve this problem is don't run this command: `./other/tools/run_protoc.sh`

It's OK for just using the default py files at `https://github.com/mavlink/MAVSDK-Python/tree/master/mavsdk/generated`

[2019-10-08 15:49] JonasVautherin commented on #115
Yes, that's mostly what I meant. Sorry for the confusion :sweat_smile:

[2019-10-08 15:49] #115 closed

[2019-10-08 17:48] EkpoEsua commented on #85
I had the same issues but I used some other work around by setting the takeoff height parameter, [MIS_TAKEOFF_ALT](https://dev.px4.io/master/en/advanced/parameter_reference.html)

`await drone.param.set_float_param("MIS_TAKEOFF_ALT", 20.0)`

20.0 metres was the height in my case.
That should suffice for now.

[2019-10-08 19:24] JonasVautherin commented on #85
That works, of course, but the fix suggested above would be cleaner. It should not be difficult to fix, and I believe @aydal had it but just did not open a PR with it :confused:.

[2019-10-09 01:07] EkpoEsua commented on #85
Alright then, let me give it a shot.

[2019-10-09 05:44] vizzbee commented on #85
@JonasVautherin it was on my last PR request along with integrating call function for PositionNED. I cannot find the PR as of this moment. I can initiate another if it's okay.

[2019-10-09 07:44] JonasVautherin commented on #85
@vizzbee: sure, it would be awesome!

I don't remember that PR or why it did not get merged. The easiest would probably be to open a PR specific to that bugfix, so that it is easier to merge it. If you do it along with a new feature, it will take more time to get merged :slightly_smiling_face:.

[2019-10-11 01:50] yingshaoxo opened #116 "How can I use MAVSDK with an existing blocking library (i.e. not based on asyncio)?"
Say, I have a camera(OpenMV), I can get some data from that camera.

I need to fly the drone according to the real-time data transferred from the camera sensor.

The problem is MAVSDK-Python is asynchronous, but the camera program is synchronous.

Since MAVSDK-Python doesn't have any documentation, meanwhile the example of this use case is not covered, I really don't know how to make it happen.

[2019-10-11 08:32] jbeyerstedt opened #117 "Provide an arm64 version on PyPI"
Currently there are just versions of the mavsdk package in PyPI for linux, windows and macOS using the x86_64/ amd64 architecture. Is it possible to also provide a linux version for arm64 and armhf (older raspberry pi).

And maybe you should add to the pip readme section, what operating systems and processor architectures are supported, so you don't have to dig through the pip verbose output to fi

[2019-10-11 10:07] alexander-wu-aw commented on #112
For some reason, I can't upgrade to mavsdk 0.3.0.

Whenever I try `pip install mavsdk` or `pip install --upgrade mavsdk`, it only gives me version 0.2.0.

When I run `pip install mavsdk==0.3.0` it says:

"RROR: Could not find a version that satisfies the requirement mavsdk==0.3.0 (from versions: 0.1.0, 0.2.0)
ERROR: No matching distribution found for mavsdk==0.3.0"

[2019-10-11 10:09] alexander-wu-aw opened #118 "MAVSDK-Python 0.3.0 not available on pip for macOS"
For some reason, I can't upgrade to mavsdk 0.3.0.

Whenever I try `pip install mavsdk` or `pip install --upgrade mavsdk`, it only gives me version 0.2.0. I've also tried `--force-reinstall`, but it still installs 0.2.0.

When I run `pip install mavsdk==0.3.0` it says:

"RROR: Could not find a version that satisfies the requirement mavsdk==0.3.0 (from versions: 0.1.0, 0.2.0)
ERROR: No matching dist

[2019-10-11 11:20] julianoes commented on #117
This would indeed be nice.

The instructions to build for arm64 would be something along the lines of:

[code]

And then we just need to figure out how to get the artefacts released and into PyPi.

[2019-10-11 11:24] julianoes opened #119 "zlib not found in dockcross compilation"
I tried to build for arm64 but it failed to find zlib:
[code]

The output was:
[code]

[2019-10-11 12:35] julianoes commented on #116
I suppose if you do `await` before each async call it basically makes it a blocking/sync call, right @JonasVautherin?

[2019-10-11 12:50] julianoes commented on #118
@JonasVautherin can you check this?

[2019-10-11 14:36] JonasVautherin commented on #119
[Those two lines](https://github.com/dockcross/dockcross/blob/master/linux-arm64/Toolchain.cmake#L16-L17) should be set to BOTH instead of ONLY, as I did for [android](https://github.com/dockcross/dockcross/blob/master/android-arm64/Toolchain.cmake#L15-L16) and others. I should have propagated that to more of the toolchains there, sorry :confused:.

[2019-10-11 14:40] JonasVautherin commented on #117
Is there an equivalent to `manylinux-x86_64` on arm? At least I found [some discussions](https://github.com/pypa/manylinux/issues/84) about it... Not sure :thinking:.

Also I'm curious about whether we could have `pip` build `mavsdk_server` from sources, but I've never done that so I don't know if we can tell pip to `git clone` and then run `cmake` and `cmake --build`. Ideas?

[2019-10-11 14:58] JonasVautherin commented on #118
Linux, or macOS?

[2019-10-11 17:05] JonasVautherin commented on #116
I think that all the functions are documented, e.g. see [here](https://github.com/mavlink/MAVSDK-Python/blob/master/mavsdk/generated/action.py#L210-L221).

The use of asyncio is not documented in MAVSDK because that's part of the [Python standard library](https://docs.python.org/3/library/asyncio.html) and has [numerous](https://hackernoon.com/a-simple-introduction-to-pythons-asyncio-595d9c9ecf8c)

[2019-10-11 18:10] alexander-wu-aw commented on #118
On MacOS

[2019-10-12 00:05] JonasVautherin commented on #118
That's because it is not released on macOS yet. I'll do that ASAP and will communicate here and on Slack (#mavsdk)!

[2019-10-12 02:38] yingshaoxo commented on #116
I see, thanks, I'll try it out.

___

But there is still have something that I can't fully understand:

In this example: https://github.com/mavlink/MAVSDK-Python/blob/master/examples/telemetry_takeoff_and_land.py

It created a parallel task by `asyncio.ensure_future(print_altitude(drone))`

Then, it will call the following function whenever the altitude gets change:
[code]

The problem is how does

[2019-10-12 05:06] JonasVautherin commented on #116
It is an "async generator", and effectively behave like an infinite stream :+1:.

[This example](https://github.com/mavlink/MAVSDK-Python/blob/master/examples/takeoff_and_land.py#L12-L16) does something similar in the beginning:

[code]

So you could just `break` after you get the first value. Or if you want to regularly poll it, you could have a coroutine populating your state somewhere, and poll

[2019-10-12 05:16] alexander-wu-aw commented on #118
Thanks a lot!

[2019-10-12 06:50] yingshaoxo commented on #116
You are right.

If we want to get the value once even if it blocks the main process, we could use something like this:
[code]

or if we want to get the value `new_altitude` constantly, we could do this:
[code]

___

Now everything is clear to me, thank you again for helping me.

___

For those who don't know asyncio in Python3, I would recommend you take a look at:
https://python.readthedocs.io/en

[2019-10-12 06:50] #116 closed

[2019-10-12 19:38] JonasVautherin commented on #116
Awesome! :tada:

[2019-10-21 09:27] JonasVautherin commented on #118
That's finally released.

To install (first time):

[code]

To upgrade:

[code]

It should install mavsdk 0.3.0, as can be seen with the output of `pip show mavsdk`:

[code]

[2019-10-21 09:27] #118 closed

[2019-10-25 05:01] EkpoEsua opened #121 "Control Of AUX PWM output on autopilot while in flight over mavlink"
Please I am trying to do some form of automation while in flight, so I want to inquire if I can control the PWM of the AUX output using this SDK while the drone is in flight, if not please what other options are available for me. Thanks.

[2019-10-25 10:32] hrw commented on #117
@JonasVautherin manylinux2014 will solve that problem. WIP.

[2019-10-25 11:07] julianoes commented on #121
You could try to use offboard actuator control but it will probably require some debugging and going through PX4 code actually get it working.

https://github.com/mavlink/MAVSDK-Python/blob/1e381fe30193bc878c5deebe15c23395e46d5c8f/mavsdk/generated/offboard.py#L173-L194

[2019-10-25 13:33] EkpoEsua commented on #121
wow!, thanks a bunch, I could have never thought it can be done that way, I am gonna check it out right away, I really appreciate. Thanks a million.

Then just one question, does this SDK has an api that supports sending raw MAVLink messages/commands to an autopilot just like DroneKit-Python SDK using [.send_mavlink()](https://dronekit-python.readthedocs.io/en/latest/automodule.html#dronekit.Vehic

[2019-10-25 13:55] julianoes commented on #121
For a raw MAVLink interface you can use [MAVLink Passthrough](https://mavsdk.mavlink.io/develop/en/api_reference/classmavsdk_1_1_mavlink_passthrough.html) but it's only available using C++ because it depends on the MAVLink generated C headers. It is therefore not something that can be exposed in the wrappers such as MAVSDK-Python.

[2019-10-27 13:47] Traveller30 commented on #112
what about windows?
the same problem exist there , how can we fix it?

[2019-10-30 22:00] minimal1 opened #122 "Does function set_position_ned work well ?"
I tried drone control by Offboard.
2 functions ( set_velocity_ned, set_velocity_body) worked well, but set_position_ned didn't.

I ran offboard example code using function set_position_ned.
there was no error to give command, but the drone was not moving.
Just stayed on ground like there was no command.

According to https://github.com/mavlink/MAVSDK-docs/blob/develop/en/guide/offboard.md, Positio

[2019-10-31 09:34] julianoes commented on #122
It would also be interesting if you could try the C++ integration test:
https://github.com/mavlink/MAVSDK/blob/develop/src/integration_tests/offboard_position.cpp

[2019-10-31 18:25] minimal1 commented on #122
Yes, I am using PX4. If you mean MAVSDK-Python, it is 0.3.0.

I would try this using real drone, right ?

[2019-11-01 09:01] julianoes commented on #122
I mean the PX4 version. You can get it using `ver all` in `nsh>` or `pxh>`.

I would try it in SITL first so you know what to expect.

[2019-11-01 11:47] wsolichin-bto opened #124 "MAVSDK-Python 0.3.0 not available on pip for Windows"
I'm trying to use the MAVSDK-Python for Windows, and when I tried using the following line:

```from mavsdk import System```

it produced the following error:

```ImportError: cannot import name 'System' from 'mavsdk'```

I checked the Python version in Windows for MAVSDK-Python by typing as follows:

```pip3 show mavsdk```

And it gives me version 0.1.0, and when I try to install version 0.3.0 ty

[2019-11-02 09:40] julianoes commented on #124
We are working on it:
https://github.com/mavlink/MAVSDK-Python/pull/123
https://github.com/mavlink/MAVSDK/pull/891
https://github.com/mavlink/MAVSDK/pull/893

Now we just need to cut a C++ release and then create a Python release on top of it.

[2019-11-02 22:00] hughleo90 opened #125 "Odometry unavailable?"
I installed the mavsdk-python running the command 'pip3 install mavsdk' and none of the methods related to the odometry are present in the 'telemetry.py' file, although they're available in the git.
Is it possible to update the pip command? Odometry updates would be very useful.

[2019-11-03 07:27] julianoes commented on #125
This has been added recently: https://github.com/mavlink/MAVSDK-Proto/pull/107
I expect it will come with the next release.

[2019-11-03 13:09] EkpoEsua opened #126 "How to access the ".Shell" plugin from the System (drone) class"
Please I can't seem to have access to the
` drone.shell `
plugin from the system class,
AttributeError: 'System' object has no attribute 'Shell'
 how do I go about that Thanks.

[2019-11-04 07:17] julianoes commented on #126
This will be available in the next release, stay tuned.

[2019-11-04 16:52] julianoes commented on #124
`pip install --upgrade mavsdk` should now get you 0.4.0!

[2019-11-04 16:52] #124 closed

[2019-11-04 16:52] julianoes commented on #119
@JonasVautherin has fixed this for all dockcross images that I'm aware of, closing.

[2019-11-04 16:52] #119 closed

[2019-11-04 16:53] julianoes commented on #125
Please try `pip install --upgrade mavsdk` to get 0.4.0. (On macOS stay patient.)

[2019-11-04 16:53] #125 closed

[2019-11-04 16:54] julianoes commented on #126
Try `pip install --upgrade mavsdk` which should get you 0.4.0 (and macOS should follow soon).

[2019-11-04 16:54] #126 closed

[2019-11-04 16:56] julianoes commented on #117
@hrw thanks for the note.
https://www.python.org/dev/peps/pep-0599/

[2019-11-04 16:57] #121 closed

[2019-11-05 12:20] rahulswimmer commented on #88
Apparently the package I was looking for was getting installed for a different pip url. Hence I pointed my pip command to that url inside pip.conf file and it solved my problem.

[2019-11-06 18:14] wsolichin-bto commented on #124
Thank you for the help! Really appreciate it!

[2019-11-10 13:49] chris-aeviator opened #130 "Cannot connect to mavsdk-server"
Hi! I'm struggling to get the internally started or externally started mavsdk server connected. I can therefore not reach any further in every example than `drone = System()`

### System Info
- Arch Linux
- conda env with python=3.7
- `pip3 install mavsdk` (0.4.0)

### Expected Behavior
When I run `python3 takeof_land.py` I expect to see the SDK connecting and running the example code

### Actual

[2019-11-10 14:30] chris-aeviator commented on #98
@eanmikale I experienced the same issue after trying to re-install the package manually after I was experiencing issues with the pip version (I only believed that they where not issues with the pip version itself). To sucessfully get rid of the `no module` message I had to run `pip3 install --force mavsdk` to force a re-download and installation

[2019-11-10 15:21] JonasVautherin commented on #130
I think that's wrong. Can you do `drone = System(mavsdk_server_address="127.0.0.1")` instead? That should connect you to the externally-started instance.

For the "internally-started" instance, could you try to find the binary (somewhere in the installation, probably ending in `mavsdk/bin/mavsdk_server`) and try to start that manually?

[2019-11-12 17:40] kiranshila opened #131 "Cannot connect to device"
I have been struggling with this for a few days now and I can't for the life of me figure out how to actually connect to the hardware. I am running macOS with Python 3.7.

I built everything from source and ran `mavsdk_server serial:///dev/tty.usbserial-AJ02ZC94:115200` to which I get the following response

[code]

To me, that looks like it connected to the platform.

Now, when I try to run any o

[2019-11-13 10:06] julianoes commented on #131
No, it has not connected:
[code]

This is a dummy/non-vehicle. It should say something like `New: System ID: 1 Comp ID: 1`. I agree that's a bit confusing!

[code]
This only refers to the gRPC connection between the Python client and the mavsdk_server running.

Are you sure the baudrate is 115200? Is this for a telemetry radio? Usually these are at 57600.

[2019-11-13 19:38] kiranshila commented on #131
Yes the baudrate is 115200. Hasn't it connected, though if it says
[code]

It certainly doesn't do that if the cable is unplugged. As in, it found the pixhawk and the gimbal, right?

[2019-11-14 14:20] julianoes commented on #131
Oh, it has, sorry I did not read that through!

I think I'm getting what is happening. You are running `mavsdk_server` manually and then using Python which also tries to start `mavsdk_server` but can't because your started one already has the port. I think you don't need to start your own `mavsdk_server`, and cnan just do this in Python:

[code]

[2019-11-15 21:01] mwshafer opened #133 "Silent error when checking connection_state() immediately after connection call"
I either found a bug, or I am doing something wrong. I have a Pixhawk connected via USB and I am finding that even if I `asyncio.create_task(my_function())` after I `await drone.connect(system_address = connection_string)` the code in `my_func()` is silently erroring out when I call `async for state in drone.core.connection_state():`

To highlight this problem, I have created the following program

[2019-11-19 02:55] MicroYY opened #134 "How to use the gimbal properly?"
The sdk provides an implementation of gimbal.
I tried TYPHOON480 which is equipped with a gimbal and successfully set pitch and yaw angle using the command `vmount test yaw 30`.
And in my python script, the gimbal seems to work when I use the  `drone.action.takeoff()` and then `drone.gimbal.set_pitch_and_yaw`.
But when it comes to the OFFBOARD mode, given a velocity to takeoff and then `drone.gimb

[2019-11-19 05:48] mwshafer commented on #133
It seems like an `await` is required with the `asyncio.create_task()` call. It should be `await asyncio.create_task(this_should_work_but_doesnt(drone))`. This isn't in the current mavsdk-python example for telemetry (those examples use the older `ensure_future()' function). I tried using `ensure_future()` with and without the `await` and it too needed the `await` to run the coroutine properly.
The

[2019-11-19 07:50] julianoes commented on #133
@xvzf it would be great to get your input here!

[2019-11-19 07:55] julianoes commented on #134
Thanks for the note. That's odd. @Jaeyoung-Lim have you seen that the Typhoon H480 gimbal would behave differently in offboard?

[2019-11-19 07:57] julianoes commented on #134
Let's track this in https://github.com/mavlink/MAVSDK/issues/907.

[2019-11-19 07:57] #134 closed

[2019-11-19 07:58] Jaeyoung-Lim commented on #134
On my side no, @MicroYY can you also try takeoff and control the gimbal without entering offboars mode?

If you are using a older version of the firmware, the gimbal was overturned and that might explain the oscillations after takeoff, but it is not related to offboard mode

[2019-11-19 07:59] Jaeyoung-Lim commented on #134
Copied reply to the tracked issue

[2019-11-19 10:55] xvzf commented on #133
@mwshafer The `asyncio.create_task` silently creates a coroutine to be scheduled asap and should not be awaited as it is simply not needed and should not make a difference.

It is strange that the `async for` loop is not working, the `await drone.connect()` should initiate everything so that this does not fail and it also *seems* to be working with the SITL.

I could not identify which type of exc

[2019-11-19 15:08] julianoes commented on #133
Thanks for chiming in @xvzf. I'll try to replicate it.

[2019-11-19 15:50] mwshafer commented on #133
I've built a more simple program that highlights what I believe to be the same issue with fewer lines of code than the original post. I took the `firmware_version.py` example and simply moved the connection state into a coroutine and added an `ensure_future()` to call the coroutine. My understanding is that for this purpose `ensure_future()` and `create_task()` are more or less equivalent. If you

[2019-11-19 16:31] mwshafer commented on #133
I want to clarify that this issues seems come up when

[code]
is use in a coroutine. I have tested the `telemetry.py` example that does not include the `awaits` and it seems to work fine with a Pixhawk over usb. It seems like the issue may be related to the `core` or `connenction_state()` being used in the coroutine. The original `firmware_version.py` example works just fine, because the `connecti

[2019-11-20 22:47] gianlu33 opened #135 "telemetry.landed_state() error "UNIMPLEMENTED""
Hello,

I was trying to implement a blocking version of the `takeoff` action, basically i want to wait until the drone is in air. Unfortunately, when calling the method `drone.telemetry.landed_state()` in order to check the state of the drone, i get the following error:
[code]

Here is my code:

[code]
Is there some bug in the implementation of MAVSDK or i'm doing something wrong?

Note: i install

[2019-11-21 08:50] xvzf commented on #133
I know what your issue is now. You are using `loop.run_until_complete(run())` and create a new coroutine inside of `run()` - though: the method exits and therefore the `loop.run_until_complete` is finished before the execution comes to the created coroutine. This should work:

[code]

What would be easier to understand for such a simple program is this one:

[code]

@julianoes I'll close this issu

[2019-11-21 08:50] #133 closed

[2019-11-21 16:06] mwshafer commented on #133
@xvzf Thanks so much! I am still learning about asyncio and it is still hard for me to know when it is my code causing the problem. Thanks again.

[2019-11-21 16:30] julianoes commented on #135
Have you tried upgrading?

What's the output of this?
[code]

[2019-11-21 18:38] gianlu33 commented on #135
Yes, nothing changes:

[code]

[2019-11-22 09:49] julianoes commented on #135
Ok thanks. I'll check it.

[2019-11-22 10:35] julianoes commented on #135
Thanks, I can reproduce it.

[2019-11-22 10:36] julianoes commented on #135
It looks like we forgot to implement this in https://github.com/mavlink/MAVSDK/blob/develop/src/backend/src/plugins/telemetry/telemetry_service_impl.h.

[2019-11-22 13:07] julianoes commented on #135
Fix is coming soon: https://github.com/mavlink/MAVSDK/pull/911

[2019-11-25 17:31] #135 closed

[2019-11-26 10:32] petergerten opened #136 "Issue on source build"
Hi,
I am trying to get mavsdk-python running on an embedded system using a non standard build procedure and currently get the following error:

[code]
Does anyone have a hint on what might be wrong in my setup?

[2019-11-26 14:01] julianoes commented on #136
Not sure, can you share the steps that you have done so far?

[2019-11-29 05:19] ramgrandhi opened #137 "GPS estimate doesn't work via MAVSDK-Python, but it works well from QGC"
Hello -
It's a Question, i don't know how to label this one.

I'm trying to run takeoff_and_land.py from examples. Managed to connect pixhawk4 via USB/serial from python. However, it waits forever to obtain global position estimate. However, when I open up QGC - it was able to locate 7 satellites and has a decent position estimate established (see screenshot below).

`Waiting for mavsdk_server to

[2019-11-29 05:32] ramgrandhi commented on #137
Ah, now it works (after say 2-3 mins of waiting for GPS -- it says GPS OK :) -- I wasn't patient enough I guess. Sorry for that!

However, the issue is with Arming itself. It throws:

`await drone.action.arm()  File` `"/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/mavsdk/generated/action.py", line 230, in arm`
`raise ActionError(result, "arm()")`
`mavsdk.generated.a

[2019-11-29 15:04] julianoes commented on #137
The GPS information displayed in QGC is not necessarily what is required for PX4 to decide that the position estimate is good enough to fly. What counts is if PX4 has a global position estimate that is good enough and that's what MAVSDK tries to grab.

@maetugr is working on improving these preflight checks and how they are visualized.

Things that influence GPS signal:
- open sky: how much of the

[2019-11-29 19:00] ramgrandhi commented on #137
Thanks @julianoes for describing what's behind why **is_global_position_ok: False**!

Would like to have more feedback/metadata on preflight checks as they are going on inside. Despite the time it takes before returning is_global_position_ok: True, in my case, I still get COMMAND_DENIED when trying to arm(). And, I looked for all possibilities that I can including disabling safety switch on GPS, d

[2019-12-02 10:29] julianoes commented on #137
I suggest you open QGC next to it when you try to arm and maybe you'll see status text messages indicating what is wrong? There are other preflight checks which might be triggering.

[2019-12-04 05:23] petergerten commented on #136
this was an unrelated build system issue

[2019-12-04 05:23] #136 closed

[2019-12-04 09:05] petergerten opened #138 "download_mission() not working"
This is reproducible in `MAVSDK/develop/docker/Dockerfile-Ubuntu-18.04-PX4-SITL` docker container:

When adding this download mission command:

`await drone.mission.download_mission()`

to the mission.py example, I get the following error:
[code]

[2019-12-04 15:52] JonasVautherin commented on #138
Seems like a bug in the autogenerated code. I'll have a look ASAP.

[2019-12-06 15:42] ramgrandhi commented on #137
Good tip, @julianoes - Thanks!

It seems that I cannot test MavSDK APIs when my laptop is tethered to pixhawk4 (with GPS mounted). QGC shows up two errors as the main reasons for not arming.

1) USB check failed (as it is tethered)
2) Very low voltage check

I would like to check if I'm in the right direction to build/test my MavSDK programs on real hardware without disabling USB checks and tinker

[2019-12-06 19:59] ramgrandhi commented on #137
Never mind @julianoes .. i'm going with using headless-Gazebo to test my programs.

Courtesy: blog post [here](https://www.google.com/search?client=safari&rls=en&q=mavsdk+python&ie=UTF-8&oe=UTF-8).

[2019-12-09 12:18] julianoes commented on #137
I don't see what you meant to link there.

For the USB and voltage checks there are circuit breakers:
https://dev.px4.io/master/en/advanced/parameter_reference.html#circuit-breaker

[2019-12-09 14:13] chris-aeviator commented on #130
I can confirm being able to connect everything successfully with

[code]

*with Airsim & PX4 sitl

[2019-12-09 14:13] #130 closed

[2019-12-12 15:23] #138 closed

[2019-12-17 07:14] darkratio opened #144 "pip install error: no matchin distribution found for aiogrpc"
I tried install grpc using pip install gprc it shows its installed but still when I try to install the requirement.txt, it shows this error. please if anyone knows about this issue, it would a great help.
below are the command and the error it shows:-

[code]

[2019-12-17 08:08] hrw commented on #117
manylinux2014 is published already. Any plans to use it?

[2019-12-17 08:11] JonasVautherin commented on #117
Yes, through dockcross. I started looking into that last week, hopefully I can spend some more time on it soon!

[2019-12-17 08:18] JonasVautherin commented on #144
What about those warnings you have? Is it safe to ignore them? Also, which version of pip are you running (`$ pip3 --version`)?

I just tried and it works for me in a venv:

[code]

with aiogrpc 1.7:

[code]

[2019-12-17 16:34] julianoes commented on #144
Try:
[code]

[2019-12-17 16:45] JonasVautherin commented on #117
@hrw: working on it, I got `dockcross-manylinux2014-x64` to work on my machine (was pretty easy actually). Next is aarch64! See https://github.com/dockcross/dockcross/issues/358!

BTW, do you know if there is a plan in supporting 32 bits arm architectures as well (e.g. armv7)?

[2019-12-17 17:04] hrw commented on #117
PEP599 lists armv7l but I do not track how it goes.

[2019-12-17 17:06] hrw commented on #117
Travis CI does not support 32bit arm could be one of reasons.

[2019-12-17 17:21] JonasVautherin commented on #117
I think it should not be that. The point of the docker image is to cross-compile, so it doesn't have to run on an arm system... Good to know about PEP599, thanks for the information :-)

[2019-12-17 17:36] hrw commented on #117
Maybe for you it is to cross-compile. I use them natively. Either on available machines or on CI systems.

[2019-12-17 19:29] JonasVautherin commented on #117
Oh, I see. Thanks for the explanation :blush:. Well, we'll see if that happens at some point. Right now I have issues running the aarch64 docker image :confused:. But at least the x64 seems to be working!

[2019-12-18 12:00] gulyvz opened #145 "is start_mavlink() call still up to date?"
Hi,
I just started using Mavsdk. ReadMe file says I need to call start_mavlink(). There is no such file in Mavsdk. Is start_mavlink() still up to date? I think the ReadMe file should be updated.

[2019-12-18 12:23] JonasVautherin commented on #145
You're right, it is outdated. The way to connect is as shown in the examples (e.g. [here](https://github.com/mavlink/MAVSDK-Python/blob/master/examples/takeoff_and_land.py#L9-L10)):

[code]

[2019-12-18 13:31] #145 closed

[2019-12-19 13:07] gulbulut opened #149 "Issues connecting through ESP8266"
Hi,
i run examples with sitl and hitl(with esp8266) mode successfully but when i try examples with telemetry connection i couldnt reach to drone.  Is there any step which i escape?

Connected to mavsdk_server!

[2019-12-19 14:51] julianoes commented on #149
What version is your esp8266? Does it support mavlink2?

[2019-12-20 12:39] gulyvz commented on #149
It will be the latest version and also support mavlink2 but i will check again. In hitl mode it works successfully i can read battery, firmware version etc.

[2019-12-20 13:26] JonasVautherin commented on #149
I'm not sure I understand what works and what doesn't. Would you mind giving more details on your setup?

[2019-12-22 21:06] gulyvz commented on #149
@JonasVautherin Of course, I have 3 different test modes. the first is sitl. I can run examples with sitl. second test mode hitl, usb connect to pixhawk 4 and esp8266 connect to wifi I set up. (esp8266, when connected to the telemetry 2 port of pixhawk 4). I can also run examples in this mode. the third mode is the mode I connect to pixhawk 4 with telemetry. I can't get data when I try with mavsdk

[2019-12-22 23:54] JonasVautherin commented on #149
@unipheas wasn't esp8266 the one with which you had issues? :thinking:

@gulyvz: Can you explain how you connect to esp8266? That one creates a wifi network to which you connect, and then you listen on some UDP port, right?

[2019-12-23 04:25] unipheas commented on #149
@JonasVautherin Yes that's correct. I had a lot of connection issues with that module as well. Sometimes it worked, sometimes it didn't. It had something to do with the baud rate and the way I was connecting it through the telemetry radio.

I discuss the issue [here](https://discuss.px4.io/t/developing-for-the-holybro-pixhawk4-mini-qav250-kit/11978/5) and [here](https://github.com/PX4/Firmware/iss

[2019-12-23 07:43] gulyvz commented on #149
Yes, exactly like that

Thanks, I missed it.

[2020-01-03 11:13] JonasVautherin opened #151 "`global_from_local` helper?"
I'm wondering if we should add selected helpers to the SDK, like for instance `global_from_local()`:

[code]

Then the question would be whether we want to add this as python code, or if we want to create a helper plugin that would do that in C++ and expose the interface for the bindings?

@julianoes, do you have an opinion on that?

[2020-01-08 10:47] JonasVautherin commented on #144
@darkratio: any news on that?

[2020-01-08 10:50] JonasVautherin commented on #131
@kiranshila: any success on that front?

[2020-01-10 08:38] julianoes commented on #151
I would probably add it to the Python wrappers for now. Once the mission interface supports global and local coordinates we could remove it again.

[2020-01-10 09:10] JonasVautherin commented on #151
Actually, I'll just close this for now, and we'll see if there is a need in the future. And we have this issue for the record :slightly_smiling_face:. Thanks for the input!

[2020-01-10 09:10] #151 closed

[2020-01-10 09:12] JonasVautherin commented on #149
I'm assuming that @unipheas' answer solved the issue. Feel free to reopen if necessary :wink:.

[2020-01-10 09:12] #149 closed

[2020-01-13 02:28] kiranshila commented on #131
I can try it again, but I switched over to using dronekit a while ago

[2020-01-13 10:16] JonasVautherin commented on #131
Ok! Closing for now, please feel free to re-open this issue if you need more help.

Also [this blogpost](https://auterion.com/getting-started-with-mavsdk-python/) might be a useful read to get started with MAVSDK-Python :blush:.

[2020-01-13 10:16] #131 closed

[2020-01-13 18:38] gbaweja opened #152 "Syntax Error: takeoff.py"
[code]

 print(f"Drone discovered with UUID: {state.uuid}")

Is there a syntax error in MAVSDK system as well?

Can I get some help to understand the hardware setup as well for Mavsdk?

[2020-01-13 20:31] JonasVautherin commented on #152
Hello! Could you please give more details?

What makes you think that? Do you get a syntax error when running the code above?

Maybe it's easier if you tell us on which system you want to run MAVSDK-Python :slightly_smiling_face:. We distribute it on pypi for Linux, macOS and Windows, and since it's Python3, it should run almost everywhere, I would say...

[2020-01-15 00:25] tomek-l commented on #152
Hi @gbaweja ,

You're likely using python version lower than 3.6.

This way of formatting, called f-strings was introduced in python 3.6 and earlier versions will treat it as a syntax error.
[code]

You can check your python version by executing:
[code]

[2020-01-15 02:44] tomek-l opened #153 "set_takeoff_altitude raises ActionError: UNKNOWN"
Hi!

There seems to be a problem with the ```set_takeoff_altitude``` function.
It raises an error, even though the value seems to be changed (see snippet below)

It's the same on a physical Pixhawk 4 Mini with PX 1.9.2 and Gazebo

[code]

[2020-01-15 13:31] JonasVautherin commented on #153
Thanks for the report, @tomek-l!

That's a duplicate of https://github.com/mavlink/MAVSDK-Python/issues/85, though. There I identified the bug and explained how to solve it. Would you be willing to contribute that? :blush:

[2020-01-19 12:56] qsqqwqeqe commented on #88
ERROR: Could not find a version that satisfies the requirement avbin (from versions: none)
ERROR: No matching distribution found for avbin.Can u please tell me the issue anyone????

[2020-01-19 19:11] julianoes commented on #88
@qsqqwqeqe please don't necrobump but create a new issue with proper log information.

[2020-01-22 07:24] bbworld1 opened #154 "gRPC server dies after uploading a geofence"
When you try and upload a geofence with `drone.geofence.upload_geofence()`, the geofence uploads, but subsequent actions (I tested with `drone.mission.upload_mission()`) fails with:
[code]
Not sure whether it's a bug with backend or binding, but it definitely fails on the Python example so filing here.

Steps to replicate:
1. add
[code]
below the `upload_geofence` function in `examples/geofence.py

[2020-01-22 10:12] tomek-l commented on #153
I opened a draft PR in MAVSDK. Please take a look.

[2020-01-22 10:12] #153 closed

[2020-01-22 10:49] horstrand opened #155 "issue with MAVSDK-Python version 0.5.2"
Hi,

I'm trying to run MAVSDK-Python on an embedded system. So far I have been using the Odroid XU4 board and the Jetson Nano.
When I follow the standard procedure for installing the package (pip3 install mavsdk), it strikes me as quite odd that the version that it is automatically installed in both boards is the 0.5.2. Whereas if I do the same in my PC, the version that is installed is the 0.4.0.

[2020-01-22 12:47] JonasVautherin commented on #155
Hello!

First of all, when I `pip install mavsdk`, I get mavsdk 0.6.1:

[code]

So I'm a bit surprised you get 0.5.2 and 0.4.0 respectively :thinking:.

A few questions:
* Which version of python are you running? You need 3.6+ (which should be fine on Ubuntu 18)
* Can you try to `pip3 install --user mavsdk` instead? More info [here](https://stackoverflow.com/questions/42988977/what-is-the-purpose-

[2020-01-22 12:59] JonasVautherin commented on #154
I believe this is an issue in `mavsdk_server`, that I reported a few months ago in https://github.com/mavlink/MAVSDK/issues/871.

Would you be willing to have a look at that? That would be super helpful :blush:

[2020-01-22 13:35] horstrand commented on #155
Hello Jonas,

Thank you for your fast reply!
First let me tell you that I also use virtual environments, but I was using another way to create them:

`virtualenv -p python3 venv`

which installs the MAVSDK-Python version 0.5.2. I now tried your way and it did install the version 0.6.1 in my PC, and if I do it without virtualenvs  (`pip3 install mavsdk`) I get the 0.6.1 too.

However when I try to

[2020-01-23 06:29] coderkalyan commented on #154
@JonasVautherin I completely forgot to fix this, I apologize for this. I work with @bbworld1 on our drone project and he recently brought this to my attention again, so I will try to get this done ASAP.

[2020-01-23 09:58] julianoes commented on #155
In general, make sure to use `pip install --user --upgrade mavsdk` for the latest version.
I'm not sure why you are not getting the latest though, I can try to reproduce this on a RPi later.

[2020-01-24 09:14] horstrand commented on #155
Hi Julian,

Thanks for your input.
We tried it in the rpi and still the same output though. Version 0.5.2 gets installed.

Since we are using virtual envs, not sure whether the `--user` flag makes much sense.

[2020-01-24 10:49] JonasVautherin commented on #155
I don't get why you can install on rpi with `pip install mavsdk`, though. Because we only support manylinux-x64 :thinking:.

Can you try to install from sources? In my venv, I usually do `pip install -e .` from the root of the repo. Then you need to run `mavsdk_server` manually (maybe you can get a binary that works on your RPi [here](https://github.com/mavlink/MAVSDK/releases/tag/v0.23.0)).

What

[2020-01-24 10:59] julianoes commented on #155
Ok, I just tried this on Raspbian Buster on a Raspberry Pi 3 and I can reproduce the issue, so it also installs 0.5.2:

[code]

[2020-01-24 14:29] JonasVautherin commented on #155
Maybe we changed something in the `setup.py` classifier after 0.5.2. The correct behavior is that it should not be available for RPi. However, I realize that what actually happens is that RPi apparently gets an older version.

I'll try to make a patch next week: it will publish a "pure" python version (i.e. that will not have `mavsdk_server` embedded). And therefore `mavsdk_server` will have to be

[2020-01-25 20:46] ramgrandhi commented on #137
Thanks for the inputs! This can be closed. I resolved the issue after fixing the errors which QGC was throwing.

[2020-01-25 20:46] #137 closed

[2020-01-25 20:54] ramgrandhi opened #156 "connect(..) over Serial waiting forever.."
Hello All -

I have a connected system (Jetson Nano as CC [Companion Computer], connected to Pixhawk4's TELEM2 port via serial RX/TX/GND connections over 3.3V).

On the CC, I was able to test the Mavlink connection using **mavlink_shell.py** from PX4/Tools [here](https://github.com/PX4/Firmware/blob/master/Tools/mavlink_shell.py).

[code]

However, when I use MavSDK-Python's examples with the foll

[2020-01-26 16:08] JonasVautherin commented on #156
Unless you are running on macOS, Windows or Linux-x64, you need to run `mavsdk_server` manually and set `mavsdk_server_address='localhost'` when instantiating `System()`. Something like:

[code]

MAVSDK-Python should be able to detect that situation and show an instructive error message. I will look into that ASAP. In the meantime you just have to know it :sweat_drops:.

Let me know if that helps!

[2020-01-28 10:03] horstrand commented on #155
Hi Jonas,

Thanks again for the support.
We installed mavsdk-python from source, as you indicated, and used the mavsdk-server binaries you mentioned, more specifically the armv7 version.

This all works fine, and the version 0.6.1.  gets installed.

[2020-01-28 10:03] #155 closed

[2020-01-28 14:05] ramgrandhi commented on #156
Thanks @JonasVautherin.

My target platform is Ubuntu running on AARCH64, so I built mavsdk_server from source and ran it as a background process. See below.

`
[03:01:38|Info ] MAVSDK version: 0.23.0 (mavsdk_impl.cpp:25)
[03:01:38|Debug] New: System ID: 0 Comp ID: 0 (mavsdk_impl.cpp:401)
[03:01:38|Info ] Server started (grpc_server.cpp:38)
[03:01:38|Info ] Server set to listen on 0.0.0.0:37791 (g

[2020-01-28 20:14] julianoes commented on #156
Your `mavsdk_server` is listening on UDP instead of serial. I think you don't need the line:

[code]

But you need to start the `mavsdk_server` with the correct argument:
[code]

[2020-01-28 20:24] JonasVautherin commented on #156
@julianoes is right, except that you still need to connect, but without the argument: `await drone.connect()`. Also, you need to be careful with the port to which `mavsdk_server` listens. By default it will choose a port and show it in the logs. But you can set it manually.

So either you run `mavsdk_server -p 50051 serial:///dev/ttyTHS1:11520`, and then in python:

[code]

or you run `mavsdk_serv

[2020-01-28 22:37] ramgrandhi commented on #156
Yess!
It worked like magic!! Many Thanks @JonasVautherin @julianoes :)

Cheers!

[2020-01-28 22:37] #156 closed

[2020-01-29 09:51] avillanueva opened #157 "Implement goto_location"
It would be very useful to have goto_location command (as available in c++ API)

[2020-01-29 13:10] JonasVautherin commented on #157
It is an action, so it would need to be added to the [action interface definition here](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/action/action.proto). Then the next step would be to add it to `mavsdk_server` [here](https://github.com/mavlink/MAVSDK/blob/develop/src/backend/src/plugins/action/action_service_impl.h).

@avillanueva: Would you be willing to contribute this? :blush:

[2020-02-14 14:59] josepeck opened #158 "Implement the follow-me plugin in Python? (ROS)"
Hi!, is there any way (or plan) to implement the `Follow-me` plugin in Python? I want to launch a ROS node with Python that will do the following:

1) Listen to the `/rover/mavros/global_position/global` topic and extract the lat, lon coordinates of a simulated rover in Gazebo.
2) Implement the `Follow me` class in the same ROS node so it can use the obtained lat, lon coordinates and make the PX4-

[2020-02-14 15:40] julianoes commented on #158
If you're using ROS, I would consider using MAVROS. I'm not sure if follow me is implemented in MAVROS though. I could not determine that looking at the code.

Now Follow Me should not be too hard to be added to Python because it is already added to the proto   files:
https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/followme/followme.proto

However, the C++ backend is missing here:
https

[2020-02-14 18:31] hrw commented on #117
Any update @JonasVautherin?

[2020-02-15 09:18] JonasVautherin commented on #158
Yep! @josepeck would you be willing to contribute the C++ bridge to Python? If yes I can give instructions =)

[2020-02-16 20:30] JonasVautherin commented on #117
I haven't had time to move forward on that, but I did some research on how to do it in dockcross. I hope I'll find some time to continue it soon!

[2020-02-18 09:35] josepeck commented on #158
Hi @JonasVautherin, currently i'm a little bit short on time because of my master thesis and internship but we can take a look at it to see if i can help with something.

[2020-02-20 04:39] yash2410 opened #159 "Stuck at "Waiting for Drone to connect" while trying to connect drone over serial to run example takeoff-and-land.py"
`   drone = System()
    await drone.connect(system_address="serial:///dev/ttyACM0:57600")
    print("Waiting for drone to connect...")
    async for state in drone.core.connection_state():`

The output is stuck on
`Waiting for mavsdk_server to be ready...
Connected to mavsdk_server!
Waiting for drone to connect...
`
I checked mavlink status on QGC and gave me this output
![insatnce #0 serial](htt

[2020-02-20 15:33] julianoes commented on #159
When you try this, is QGC shutdown so it is not blocking the serial port?

[2020-02-24 03:30] yash2410 commented on #159
It was shutdown. I opened QGC just to check the mavlink status

[2020-02-27 00:08] vivh3 commented on #157
Is anything willing to contribute this action? Would greatly appreciate :)

[2020-02-27 00:26] vivh3 opened #160 "How to implement area coverage?"
Hi! I'm new to using MAVSDK-Python and am looking for suggestions for how to make the drone survey a defined polygonal area; it would start at a vertex and fly back and forth until it has flown over the entire area. Would this have to involve making a mission and populating it with many waypoints?

[2020-02-27 10:30] siddux commented on #85
Hi, has the bug been resolved? I tried to modify the takeoff altitude on takeoff example file and still get an error.

[2020-02-28 07:47] julianoes commented on #159
What platform is this on? Can you try to run `mavsdk_server` manually to check if it is connecting?

[2020-02-28 07:51] julianoes commented on #160
Yes, you would have to generate the waypoints/mission items for the survey that you want to fly. This is not implemented "inside" MAVSDK because it would generally functionality developed on top/using MAVSDK for a specific application, e.g. surveying, inspection, crop spraying.

There are two ways to implement the survey mission items:
1. Define all "corners" of the mission and use distance-based

[2020-02-28 07:52] julianoes commented on #85
@siddux let me check. I see the last status here: https://github.com/mavlink/MAVSDK/pull/958

[2020-02-28 19:18] vivh3 commented on #160
Thanks for the info! Follow-up questions:
1. If one would rather not use missions, do you foresee a goto_location action being implemented for MAVSDK-Python?
2. Can one define a polygonal geofence such that the drone turns around when it hits an edge of the geofence?

[2020-03-01 08:02] julianoes commented on #85
I have updated the pull request. I hope that we can merge it soon now.

[2020-03-01 14:49] julianoes commented on #160
1. Feel free to make a contribution to add that. First step is to add it to [MAVSDK-Proto](https://github.com/mavlink/MAVSDK-Proto) and then to the backend/mavsdk_server. The Python part will be auto-generated from proto.

2. That's not supported by PX4, and geofence is quite rudimentary for PX4 in general, so I would not recommend that.

[2020-03-01 16:29] hamishwillee commented on #160
FYI 2 may no longer be true. I THINK ardupilot is now mavlink compliant and proper geofence support present.

[2020-03-02 08:11] julianoes commented on #160
@hamishwillee in 2 I'm talking about PX4, so I'm confused what you mean.

[2020-03-02 08:34] julianoes commented on #85
The PR has been merged, this should be fixed in the next release.

[2020-03-03 16:17] yash2410 commented on #159
This is on Ubuntu 18.04 running python3.6 and mavsdk version 0.6.1. The drone was serially connected through USB.
I have solved it now by going for a UDP connection instead.

[2020-03-03 16:17] #159 closed

[2020-03-04 02:20] hamishwillee commented on #160
@julianoes It means I can't read. Apologies.

[2020-03-04 07:01] coderkalyan commented on #158
@josepeck @JonasVautherin I also started implementing the bridge for both Tune and FollowMe - but I've also been rather short on time due to school work and other activities. Currently, the proto files have been implemented (I actually made a couple changes, I will try to push them) but the bridging code has yet to be implemented.

If you are interested in implementing it @josepeck , I would be ha

[2020-03-04 07:04] coderkalyan commented on #157
@vivh3 @JonasVautherin @avillanueva I'll see what I can do, I'm trying to get more involved with implementing more features into MAVSDK-Python, but I'm a bit short on time as school work is high around this time of year, and I don't want to take on too much. I already have a couple other issues im working on for MAVSDK, I'll keep you posted!

[2020-03-04 07:12] coderkalyan commented on #60
@JonasVautherin @julianoes Any updates on this? I also encountered this issue while using the Python wrapper, currently avoiding the problem by splitting my program into multiple scripts with separate MAVSDK connections ... this is not ideal :smile:

[2020-03-04 07:44] JonasVautherin commented on #60
No update as far as I know, so it's still in the state described above. I would love it if an advanced python developer could give an opinion and help finishing it :+1:.

[2020-03-09 06:16] coderkalyan opened #161 "MAVLink Passthrough"
Is there anything we can do to make MAVLink passthrough available in the Python interface? Would it be possible to connect it to pymavlink? I'm aware that the current C++ interface connects to C bindings directly, and this won't be easy - but is there anything we can do?

[2020-03-09 09:18] julianoes commented on #161
Also see: https://github.com/mavlink/MAVSDK-Python/issues/121#issuecomment-546364100

It could be made using runtime string lookup for the message definitions but I don't believe that makes a lot of sense. At this point you could just use a MAVLink implementation in Python.

What's your specific use case?

[2020-03-11 19:24] Jabba-The-Gut opened #162 "bus error when connecting PX4"
Hello everyone,

I've setup my PX4 with a Raspberry Pi Zero W as CC (Companion Computer). I was able to setup Mavsdk-Python by manually building mavsdk from sources and cross compile the mavsdk_server.

Im manually starting the mavsdk_server binary:
[code]

The server starts successfully:
[code]
As soon as I connect my PX4 using a serial connection I get "bus error":
[code]
After Bus error the ser

[2020-03-13 06:49] julianoes commented on #162
This means that an ack was received for command 511 instead of 520 which it expected. This can have various reasons, I wouldn't be too worried. However, all the retries hint that maybe there is considerable packet loss.
I would try to connect with a lower baudrate first and see if that behaves ok.

Interesting, I've never seen this! Since it crashes, can you run it with `gdb --args mavsdk_server s

[2020-03-19 12:34] siddux opened #163 "Param class error"
Hi, I was trying to familiarize with param class. I run this simple code:

[code]

And the output error that it gives to me is: AttributeError: 'Param' object has no attribute 'set_param_int'. I don't know why it doesn't work. I search on generated library files and this attribute is defined on it.

[2020-03-19 12:37] #163 closed

[2020-03-19 14:05] canberkdurmus opened #165 "How to get local ned location"
Hello everyone,

I am new with MAVSDK Python and trying to get location of the vehicle in local ned frame. I am able to get the location in global frame with `drone.telemetry.position()` but I need to convert it into local frame in every target point reach check. I thought, since we are able to set target location with local ned frame, there must be the get part but I can not find it in the exampl

[2020-03-19 17:50] JonasVautherin commented on #163
Did you solve your problem? I see that your code here says `set_int_param`, and your description says `set_param_int`. Was that the issue?

[2020-03-19 17:52] JonasVautherin commented on #165
@irsdkv can you help with that?

[2020-03-19 18:20] siddux commented on #163
Yes, I solved it. I was looking at API reference form C++ documentation and on this page talks about set_param_int but then looking at generated files I find my mistake.  Thank you!

[2020-03-20 10:03] julianoes commented on #165
I think that's currently not available in Python yet but only in C++:
https://github.com/mavlink/MAVSDK/blob/0b305884164c3e7f3bce98f29ab3b1df13d42557/src/plugins/telemetry/include/plugins/telemetry/telemetry.h#L925-L930

[2020-03-20 10:26] canberkdurmus commented on #165
Thank you so much for your response guys, we will try to add it or convert global lat lon to local x y related to the home position.

[2020-03-20 10:46] julianoes commented on #165
@JonasVautherin you had helper functions for global local transformations in Python somewhere, right?

[2020-03-20 10:55] canberkdurmus commented on #165
That was helpful, for now I am going to implement the python version of the `local_from_global` function for our python base.

As far as I can see that MAVSDK Python is connecting to the MAVSDK Server with gRPC and MAVSDK Server is getting required information from MAVSDK Cpp. I planning to add it to the MAVSDK Server in our own fork.

Thank you so much again 👍

[2020-03-20 10:57] julianoes commented on #165
Why is that required?

When you do `pip install mavsdk` the `mavsdk_server` is included, however, that only works for Win, macOS and Linux x86_64 but not for arm architectures like Raspberry Pi yet.

[2020-03-20 11:09] canberkdurmus commented on #165
I think MAVSDK Server should have something like an endpoint to get the local ned position information from the MAVSDK Cpp to send back to the MAVSDK Python. So I think, to make it available in python we will need to make changes on backend too. I will make a deeper research about MAVSDK Server later.

To use it in arm based systems I am planning to build it from source with `make BUILD_BACKEND=YE

[2020-03-20 13:20] JonasVautherin commented on #165
Here it is in Python:

[code]

[2020-03-20 13:43] canberkdurmus commented on #165
I was just finished implementation and testing according to the cpp version. Will compare it with this one also, thank you so much @JonasVautherin 👍

[2020-03-20 13:43] #165 closed

[2020-03-22 09:51] Jabba-The-Gut commented on #162
Thank you very much for your answer.

I wasn't able to collect more information using ```gdb --args mavsdk_server serial:///dev/serial0:921600```.  However, your suggestion of lowering the baudrate did the job. I still have quite some packet loss (based on your comment of the failed ack commands), but at least the connection is now stable.

I've chosen a baudrate that is suggested by QGroundContro

[2020-03-22 09:51] #162 closed

[2020-03-23 19:38] obbe79 commented on #154
After uploading a geofence (which I can't get rid of - please help!) in SITL, I get a similar error when arming:

`-- Arming
Traceback (most recent call last):
  File "test_main.py", line 87, in <module>
    loop.run_until_complete(run())
  File "C:\Users\user\Development\python_proj\mavsdk\mavsdk_env\lib\asyncio\base_events.py", line 583, in run_until_complete
    return future.result()
  File "t

[2020-03-24 09:33] deepak-1530 opened #166 "Switch between offboard and mission modes"
I am able to switch from mission mode to offboard but cannot go back to mission mode. Is there a way to do it?

[2020-03-24 12:39] JonasVautherin commented on #154
Thanks for reporting. As far as I can see, the [corresponding issue](https://github.com/mavlink/MAVSDK/issues/871) is still open in MAVSDK. Would you be willing to have a look at this?

Otherwise I may get to fix it in the next few weeks as part of the C++ auto-generation (I currently only finished the action plugin, but all of them will eventually be auto-generated).

[2020-03-24 12:42] JonasVautherin commented on #166
What happens when you stop the offboard mode? Isn't it supposed to go back to `hold`?

[2020-03-24 15:57] coderkalyan commented on #154
@JonasVautherin I took a look at this again but I have no idea where the problem is :(. Do you have any pointers on how to debug?

[2020-03-24 16:21] deepak-1530 commented on #166
Yes it goes back to hold. It stays in hold. How do i continue the mission from there?

[2020-03-24 17:07] LiangR2017 opened #167 "How to connect serial in Windows?"
Hope u still fine.and of course hello to u.
Find your codes
Serial:

but it seems to work on linux only
Have tried   `awaitdrone.connect(system_address="serial://com14:115200")` but didn't work.
Can u help me?thanks

[2020-03-24 21:44] Emrage opened #168 "Take off only works once"
Hello,

Whenever I try to take off more than once it doesn't work.

`import asyncio
from abc import ABC

import logger
from drone.drone_action import DroneAction
from drone.drone_state import DroneState

class TakeOffAction(DroneAction, ABC):
    log = logger.init_logger(__name__, "info")

    async def action(self, drone_manager):
        self.log.info(f'Starting take_off action, state={drone_man

[2020-03-24 22:17] Emrage commented on #168
Figured it out, when landing the drone also disarms

[2020-03-24 22:17] #168 closed

[2020-03-25 03:05] LiangR2017 commented on #168
hello,  only find u commentd recently . want to ask some question
i tried to run the land and take off codes on my windows through my usb serial
but i found the only example

what's its like on windows?i tried the follow but it dosent work,

can you help me?

[2020-03-25 03:10] LiangR2017 commented on #167
also tried

doesnt work .

[2020-03-25 03:14] LiangR2017 commented on #167
trying to install unbuntu now .still want to know how to connect in windows
tell me if anybody knows.thanks a lot!

[2020-03-25 11:35] Emrage commented on #168
Hello, I'm not sure how it would work with the serial but I have found this:

https://github.com/mavlink/MAVSDK-Python/issues/100

and this

https://discuss.px4.io/t/serial-instead-of-udp-for-dronecore-examples/5459/3

The people there are using

and

So from what I think yours needs to be

serial:///dev/ttyUSB13:115200

or

serial:///dev/ttyCOM13:115200

[2020-03-25 12:18] julianoes commented on #166
You should be able to use `continue` from `mission`.

[2020-03-25 12:20] julianoes commented on #167
@LiangR2017 what error do you get when you try that?

Can you try `serial://COM14:115200`

[2020-03-25 13:30] LiangR2017 commented on #167
@julianoes just show these and i also tried " serial://COM14:115200"

Connected to mavsdk_server!
Waiting for drone to connect...

[2020-03-25 17:28] deepak-1530 commented on #166
I did not find continue in mission. I found pause_mission function but not continue

[2020-03-25 19:23] julianoes commented on #166
Sorry, start mission should do it too.

[2020-03-26 00:54] LiangR2017 commented on #144
i meet the question too
`ERROR:` No matching distribution found for aiogrpc>=1.5 (from -r requirements.txt (line 2))

[2020-03-26 01:04] LiangR2017 commented on #144
tried for aiogrpc1.7

and i got

also i successly import aiogrpc
but when i run

or try to `pythonsetup.py build`  for mavsdk
it shows

[2020-03-26 04:56] julianoes commented on #144
I think your Python 3 is too old.
Can you paste the output of:
[code]

[2020-03-26 12:47] JonasVautherin commented on #168
@LiangR2017: It seems to me that your issue is about connecting over a serial link and has nothing to do with the original issue here. Is that correct? If yes, would you mind opening a new issue with your question? :blush:

[2020-03-27 05:48] coderkalyan commented on #154
@obbe79 If you're interested/able to to fix the bug, feel free to. In the meantime, I'm going to try to look into it again now that @julianoes refactored mission into core.

[2020-03-27 07:58] LiangR2017 commented on #144
i dont understand. i firstly have python2.7 python3.5.2 in my windows system
but the aiogrpc needs python 3.6 so i install the 3.6
however when i use pip 3  to install the aiogrpc (py2.7 is pip2,py3.5.2 is pip),
it shows me the  that aiogrpc  needs the python of which the verson should be not up to3.6.
then i uninstall py3.6 install py3.7,but nothing changes.
So i turn to ubuntu system,and it work

[2020-03-27 17:55] deepak-1530 commented on #166
start_mission() works fine. Thanks

[2020-03-27 17:55] #166 closed

[2020-03-28 12:55] deepak-1530 opened #169 "Velocity data from telemetry?"
How can I get the current drone velocity in body and NED frame?

[2020-03-28 15:43] breathedigital commented on #169
Is this what you're looking for?

https://mavsdk.mavlink.io/develop/en/api_reference/structmavsdk_1_1_telemetry_1_1_angular_velocity_n_e_d.html

[2020-03-28 15:45] deepak-1530 commented on #169
This gives angular velocity. I need linear velocity of the drone in either Body or NED frame.

[2020-03-28 15:46] breathedigital commented on #169
https://mavsdk.mavlink.io/develop/en/api_reference/structmavsdk_1_1_telemetry_1_1_velocity_n_e_d.html

[2020-03-29 09:32] deepak-1530 commented on #169
It's sorted now. This is how the velocity data can be accessed in NED frame.

async def print_velocity(drone):
    async for speed_NED in drone.telemetry.ground_speed_ned():
        print(speed_NED)

[2020-03-29 09:32] deepak-1530 commented on #169
-

[2020-03-29 09:32] #169 closed

[2020-03-30 15:28] julianoes commented on #144
Right, so presumably Python 3.5.2 is too old to work with aiogrpc.

[2020-03-30 15:28] #144 closed

[2020-03-31 15:57] siddux commented on #154
Hi guys,

does anyone know where is the problem? I was trying to fix it but for the moment I get nothing.

[2020-03-31 22:08] JonasVautherin commented on #144
MAVSDK-Python requires python 3.6+, anyway.

[2020-04-01 11:30] julianoes commented on #154
I think we should get this fixed with the next round of releases/updates.

[2020-04-01 17:25] obbe79 commented on #154
thank you, I will see but I don't think I'm able to fix it

[2020-04-02 01:34] coderkalyan commented on #154
@julianoes I agree completely! I also have no clue what's going on, and my gRPC experience is limited to reading some online docs and copying existing plugins! Do you have any idea what's wrong, or even any debug techniques? The error logs by themselves are very unhelpful :(

[2020-04-02 16:38] erenaud3 opened #170 "Monitor QGC mission progress"
Hi !

I am trying to monitor QGC mission progress on companion computer. I have the following code (greatly inspired from example/mission.py):

[code]

Here how I proceed:
- start JMavSim HITL simulation (Hardware is Pixhawk 1 and firmware is px4_fmu-v2 with version v1.10.2dev)
- start Python script above
- start QGC, upload dummy mission and run it

I was expecting to see something like:  "Missio

[2020-04-03 05:53] julianoes commented on #170
Is HITL simulation actually working with fmu-v2? I don't expect HITL to work because `pwm_out_sim` is missing: https://github.com/PX4/Firmware/blob/ff1e5a595dc87997e063308b8c8be0f539994a1c/boards/px4/fmu-v2/default.cmake#L57.

Is the mission running in QGC?

One thing to note for mission progress of the `mission` plugin is that it only works properly for missions uploaded using MAVSDK. For other m

[2020-04-03 11:40] erenaud3 commented on #170
First of all, thank you very much for that. I didn't realize `pwm_out_sim` was vital for HITL until you pointed it out !

Actually, I got really lucky. Because I tried to work with branch release/v1.10, on which `pwm_out_sim` is NOT commented (https://github.com/PX4/Firmware/blob/release/v1.10/boards/px4/fmu-v2/default.cmake).
So yes, in that case the mission running in QGC and the drone flies acc

[2020-04-03 17:51] #170 closed

[2020-04-06 13:11] JonasVautherin commented on #152
Closing because of inactivity. Feel free to re-open if needed!

[2020-04-06 13:11] #152 closed

[2020-04-06 21:32] siddux opened #172 "Multiple simulation"
I have been trying to do multiple simulation using jmavsim but I think I get some problems with uuid because if I simulate 2 drones both get the same uuid and this makes the program to crash. I simply test this using de takeoffandland example and duplicating the commands to address drone 1, with udp port 14540 and drone 2 with udp port 14541.

I have seen some issues in C library forum but I can't

[2020-04-06 22:56] JonasVautherin commented on #172
If they use a different MAVLink interface (here you mention 14540 and 14541), then the uuid or sysid don't matter, it should just work. The only thing in MAVSDK-Python is that you need to start `mavsdk_server` manually.

Can you give more details about what you tried and how it crashes? Some code, for instance :blush:

[2020-04-06 23:11] siddux commented on #172
First I run simulator using instructions on px4 dev guide. The code I run is this:

`#!/usr/bin/env python3

import asyncio
from mavsdk import System

async def run():

    drone1 = System()
    drone2 = System()
    await drone1.connect(system_address="udp://:14540")
    await drone2.connect(system_address="udp://:14541")

    print("Waiting for drone to connect...")
    async for state in drone1

[2020-04-07 21:08] JonasVautherin commented on #172
You need to run two instances of `mavsdk_server` manually. So something like:

[code]

would go together with:

[code]

and e.g.

[code]

would go with

[code]

[2020-04-07 22:14] siddux commented on #172
This is exactly what I needed. Thank you very much for your help!

[2020-04-07 22:14] #172 closed

[2020-04-11 07:07] AhmedHisham1 opened #173 "Weird 'MissionError: BUSY' suddenly starts to appear"
Hello,
My code is a simple mission upload to a SITL model in Gazebo.
It runs just fine and the mission is completed. I keep rerunning the code and it works perfectly, however, at some point, it starts to raise this error every time I run it.
The error disappears after I reboot ubuntu. But the same thing happens again after I run it for several times.

So, there must be something running in the bac

[2020-04-12 04:42] AhmedHisham1 commented on #173
I commented out this line and now it works fine.
[code]
I originally added it to clear the previously uploaded missions, but it doesn't seem to be necessary.

[2020-04-14 18:37] PCSmithy commented on #155
Hello all,

I'm trying to install mavsdk on a NVidia Jetson TX2 to communicate with a pixhawk 4 and I'm getting the same mavsdk_server permission denied error that OP pointed out.

I'm working in a python3.8.2 venv, and when I `pip install mavsdk` it installs mavsdk 0.5.2.

The Jetson TX2 is an arm64 architecture. Is my only option to build mavsdk from source, copy the arm64 mavsdk_sever from the

[2020-04-14 18:47] sudo-raza opened #174 "Local positioning not exposed in python yet"
Hello

I am just bringing up this issue here again for reference as Julian Oes is already aware and hard at work.

Local positioning (positionNED) on MAVSDK-python is not available. Therefore you are unable to get local positioning for the drone. However global coordaintes (position in the telemetry class) are available.

Simulation: jMAVSim
OS: Windows 10

[2020-04-15 10:13] rachoun commented on #159
Hello, can you please tell me what could be the max tx and rx rates?

[2020-04-15 14:46] julianoes commented on #174
Thanks for the note @sudo-raza.

This is coming with: https://github.com/mavlink/MAVSDK-Python/pull/171/files#diff-2d7f0ba673b8f8a848712bbff51092e0R1549

[2020-04-15 14:47] julianoes commented on #155
@PCSmithy you can use the binary for `mavsdk_server` that part is fine. Now you need to install the Python package as described here: https://github.com/mavlink/MAVSDK-Python#build-and-run-from-sources

[2020-04-15 19:42] JonasVautherin commented on #159
@rachoun Hello! This is off-topic here. Please open a new issue to ask your question :blush:

[2020-04-15 22:55] hamishwillee commented on #155
@julianoes The [docs](https://mavsdk.mavlink.io/develop/en/getting_started/installation.html#python) say
![image](https://user-images.githubusercontent.com/5368500/79396744-ed9a1280-7fbf-11ea-8e41-b18a14406e11.png)

If we are helping people with this, can we perhaps have a section in the doc on installing to ARM targets?

[2020-04-16 09:40] julianoes commented on #155
Yes we should, as soon as we get to it.

[2020-04-25 21:41] MSBGit commented on #174
I built the MAVSDK develop branch and the MAVSDK-Python branch that @julianoes pointed me to in the PX4 #mavsdk Slack channel. In general I would say this is a tremendous improvement in functionality. What I really wanted is to get NED Position and Velocity updates and to be able to set telemetry rates.

There are a few things that seem broken and I'm not sure if it's because of my environment or

[2020-04-25 23:23] JonasVautherin commented on #174
This to me is a hint that you are not using matching versions of `mavsdk_server` and `MAVSDK-Python`. With the auto-generation, I think I changed the order in the `Offboard::Result` enum, meaning that a new `mavsdk_server` build will send `SUCCESS` through protobuf, but an older MAVSDK-Python will read an error (because it's just a number over protobuf, and `SUCCESS` changed from "0" to "1").

Thi

[2020-04-26 00:23] MSBGit commented on #174
Here is what I'm building with:

[2020-04-26 06:34] MSBGit commented on #174
I rebuilt `MAVSDK-Python` on my nano (which was very painful because of the long time it took) and now my test program works without having the exceptions thrown from `MAVSDK`:

[code]

`mavsdk_server` output (I didn't rebuild `mavsdk_server` today, I used the binary that I built yesterday):

[code]

[2020-04-26 15:13] Mark718real opened #175 "Can't run mission.py"
Hello everyone, I am new at this. I want to test example scripts. So I can not run the mission.py file which is in "example" folder. All other files work well. OS: Windows 10. Here is an error.

Waiting for mavsdk_server to be ready...
Connected to mavsdk_server!
Waiting for drone to connect...
Drone discovered with UUID: 5283920058631409231
-- Uploading mission
Mission progress: 0/3
-- Arming
Mis

[2020-04-26 15:47] JonasVautherin commented on #174
I assume you wanted to say MAVSDK, because there is nothing to build for MAVSDK-Python (just install a few things). Yes, building `mavsdk_server` takes time, which is why we try to distribute it as much as we can :innocent:.

So it seems like it is working, right?

[2020-04-26 20:07] MSBGit commented on #174
Yes I think that was the issue.

Yes it is, thanks.

When will this functionality be released?

[2020-04-27 11:49] JonasVautherin commented on #175
Hello! How do you install MAVSDK? Using pip?

Does it work to takeoff from mavsdk?

[2020-04-27 12:05] Mark718real commented on #175
Yes, i installed MAVSDK. I used this guide https://auterion.com/getting-started-with-mavsdk-python/. Takeoff from mavsdk works. All other .py files like telemetry, offboard_attitude work, I can run them. But only mission.py can't start.

[2020-04-27 12:45] JonasVautherin commented on #175
Can you try to connect QGC, run `mission.py`, and then try to start the mission from QGC? You could also download it there. Just to try to see why the drone refuses to start the mission...

[2020-04-27 13:48] Mark718real commented on #175
I tried and it works). Sorry maybe for the  "stupid" question, but is it necessary to connect QGC when you run the mission.py?

[2020-04-28 09:01] JonasVautherin commented on #175
No, it's not necessary. It's just a convenient way to have a "second opinion" about the state of the drone, so to say :laughing:. When I'm working with MAVSDK and e.g. try to upload a mission, I like to download it back in QGC and inspect it there, for instance.

What worked exactly? So you started QGC, and then `mission.py` worked? It should not be related (unless PX4 is in a weird state and requ

[2020-04-28 10:23] skymaze opened #176 "telemetry.position() not working."
mavsdk Version: 0.6.1-1-g409a253
mavsdk_server Version: arm64 v0.24.0

I'm using jetson nano and pixhawk 4.

**Steps to reproduce:**
1.change example/telemetry.py to use serial port
2.run python3 telemetry.py

**Expected Behavior:**
show all telemetry in example

**Actual Behavior:**
only show gps info, in air and battery, position not show. However I can see position info in QGroundControl.

[2020-04-28 10:27] Mark718real commented on #175
Yesterday, it did not work until I started the QGC. Without starting the QGC, it showed me the error I wrote above. I started QGC and then it worked. But now, for reasons I don't understand, it works. I am using windows 10 and JMAVSIM simulator, python 3.8.2.

[2020-04-28 20:15] thomasderflieger commented on #155
Hey, wanted to connect my RPI3 with my pixhawk using MAVSDK and also just get the 0.5.2 Version when installing via pip. I am not very profficient with linux, nor building/installing etc. I tried building MAVSDK-Python from source. But what do i do now with  the mavsdk_server file?
And i guess i need this one: mavsdk_server_linux-armv7

Sorry for the noob questions, i really like the idea of mavsd

[2020-04-28 21:01] PCSmithy commented on #155
Assuming you installed MAVSDK-Python correctly, there should be a directory in the MAVSDK-Python folder such as this:
[code]
That is where the binary of the mavsdk server needs to go. On my machine these were the commands I did:
[code]
That should allow you to run the MAVSDK-Python examples (make sure you point the example code to the correct device for mavlink messages, ie UDP or Serial)

[2020-04-28 22:27] thomasderflieger commented on #155
Thanks for the quick reply!
Lookls like i was on the right path, but must have screwed up somewhere anyway.
The only thing missing was the EXECUTE permission. I just tried the telemetry.py example. But i get a few error messages. I will keep tinkering with it tomorrow.

[code]

In the meantime i also found this [thread](https://discuss.px4.io/t/talking-to-a-px4-fmu-with-a-rpi-via-serial-nousb/1411

[2020-04-28 23:24] JonasVautherin commented on #176
Can you takeoff from QGC? And can you takeoff from MAVSDK?

I assume you are using HITL?

[2020-04-28 23:25] JonasVautherin commented on #175
Ok, seems like it's fixed then :laughing:. Feel free to reopen if the error comes back.

[2020-04-28 23:25] #175 closed

[2020-04-28 23:31] JonasVautherin commented on #155
This hints that the connection to `mavsdk_server` failed. Which I find weird because above it says `Connected to mavsdk_server!`. Would you mind trying the following:

1. in `telemetry.py`, instead of

[code]

use:

[code]

2. run `./mavsdk_server -p 50051` manually on your system before you run `python3 telemetry.py`

This way you will actually get the output of `mavsdk_server` (which we currentl

[2020-04-29 09:40] JonasVautherin commented on #174
We are finishing auto-generating the plugins in C++, I would say in less than 2 weeks :crossed_fingers:.

[2020-04-29 09:40] #174 closed

[2020-04-29 09:56] julianoes commented on #176
I need to look into this at some point. It has now come up several times.

[2020-04-29 10:27] JonasVautherin commented on #176
Always from python?

[2020-04-29 10:30] thomasderflieger commented on #155
Server Output:
[code]

telemetry.py output:
[code]
You want me to try anything else?
Else i will give it a new shot and follow the before mentioned thread.

[2020-04-29 14:08] JonasVautherin commented on #155
There are two things here:

1. `mavsdk_server` did not discover a drone. Is that expected?
2. Did you change [this line](https://github.com/mavlink/MAVSDK-Python/blob/master/examples/telemetry.py#L9) in your example? Can you show me what you have there? It seems like MAVSDK-Python cannot reach `mavsdk_server` :thinking:

[2020-04-29 15:55] julianoes commented on #176
Maybe, not sure.

[2020-04-30 05:13] sazan10 opened #177 "LICENSE file is empty"
Hi! The license file seems to be empty without any content. The MAVSDK C++ version seems to be under the BSD-3-Clause licensing. So, is the python version also supposed to be under the same license?

[2020-04-30 06:00] julianoes commented on #177
Thanks for the question. Yes BSD-3-clause was the idea.

[2020-05-02 07:56] thomasderflieger commented on #155
Hm, it is expected to discover a pixhawk, running px4 on the serial port.

The code:
[code]

Thanks for the help by the way!

[2020-05-03 16:48] JonasVautherin commented on #155
Right. So when you run `mavsdk_server` manually, you should do:

[code]

It sounds a bit confusing, but `system_address` is only used when python starts `mavsdk-server` for you. Which is not the case when you set `mavsdk_server_address` to something that is not `None`.

[2020-05-05 13:44] KatrijnChys opened #179 "goto_location function"
Hello

I'm in my third bachelor engineering technology. For my bachelorsassignment we have to write code for an autonomous flight test.
We're supposed to write a mission using some specific functions. One of the functions we miss is a 'goto_location' function.
Right now I'm trying to convert the distance in degree's between two coördinates into a distance in meters but I still get some errors.
I a

[2020-05-05 15:11] JonasVautherin commented on #179
`goto_location` will come in the next release, actually :-). And it should come very, very soon. Would that help?

[2020-05-05 16:32] #177 closed

[2020-05-05 17:01] KatrijnChys commented on #179
Hello

Thank you for the quick answer.

The final presentation of our bachelors assignment is next Thursday but due to circumstances we were only able to start programming two weeks ago. I don't know if it will be in time for us, but it surely will be on time for the next group.

Is there  a way to request the coördinates of the launch position?

I also have a few question about the script 'missio

[2020-05-05 18:10] KatrijnChys commented on #179
The error I get while running the script is ''Distance between waypoints too close: 0 meters''

[2020-05-06 06:33] julianoes commented on #179
Ok, got it. That's something to look into for me.

[2020-05-06 08:05] JonasVautherin commented on #179
I have seen the "Distance between waypoints too close: 0 meters" issue recently (when working with MAVSDK-Java). The issue I had there was that my `mavsdk_server` was not up-to-date (I was using the latest protos for MAVSDK-Java).

@KatrijnChys: how do you install MAVSDK-Python? Using `pip install`?

[2020-05-06 08:10] Safranek42 commented on #156
Hi,
I have the same problem on Jetson Nano. When I tried setting up mavsdk_server with
mavsdk_server serial:///dev/ttyACM0
I got
bash: mavsdk_server: command not found.

I built MAVSDK and MAVSDK-Python from source.

[2020-05-06 08:46] JonasVautherin opened #180 "mavsdk_server: command not found"
I am trying to run MAVSDK on a Jetson Nano. When I tried setting up mavsdk_server with

[code]

I got

[code]

I built MAVSDK and MAVSDK-Python from source.

_Originally posted by @Safranek42 in https://github.com/mavlink/MAVSDK-Python/issues/156#issuecomment-624504822_

[2020-05-06 08:46] JonasVautherin commented on #156
@Safranek42: this is unrelated, I created a new issue for you (#180).

[2020-05-06 08:49] JonasVautherin commented on #180
Hello!

The error says that it cannot find `mavsdk_server`. One way to run an executable is to `cd` into the directory in which it is, and call it. Say you have the `mavsdk_server` binary in `/home/user/mavsdk/mavsdk_server`, it would be something like:

[code]

Another way would be to install it on the system, such that it appears in the PATH, and directly run it as you mentioned above. But it re

[2020-05-06 09:15] KatrijnChys commented on #179
To install it I opended settings in PyCharm and clicked the '+' under 'project interpreter'. Searched for 'mavsdk' and clicked on  'install package'.

This is how my teacher taught us.

[2020-05-06 09:22] JonasVautherin commented on #179
I guess PyCharm is using `pip` under the hood. So that's fine.

Does `mission.py` work if you don't modify it at all?

[2020-05-06 09:24] Safranek42 commented on #180
Thanks for creating the new issue!

As I couldn't find the mavsdk_server executable,  I built and installed MAVSDK again with this (https://mavsdk.mavlink.io/develop/en/contributing/build.html) steps.

I checked and mavsdk_server is not among the Build targets. (Though there is mavsdk_server.cpp file after cloning the repository.)

I found this (https://github.com/mavlink/MAVSDK/issues/814) issue,

[2020-05-06 09:43] KatrijnChys commented on #179
When I run it without modifying it works perfectly. Also when adjusting the coördinates and altitude it workt great.

[2020-05-06 11:13] JonasVautherin commented on #180
We release some artifacts here: https://github.com/mavlink/mavsdk/releases. But for the Jetson, you're probably right that we don't have a binary for that. So compiling from sources is the way to go. Possibly you want to compile from the latest release tag (instead of `develop`, which is less stable).

Not sure how you built, but you need to enable `BUILD_BACKEND` to get `mavsdk_server` (it is a b

[2020-05-06 11:15] JonasVautherin commented on #179
Right. So maybe @julianoes is right and MAVSDK is doing something weird with the `loiter_time` (I would guess something like adding an extra waypoint, which is refused by PX4).

[2020-05-07 08:10] Safranek42 commented on #180
Many thanks, it worked, now I have the mavsdk_server executable and can connect to my flight controller!

[2020-05-07 08:47] JonasVautherin commented on #180
Awesome! :tada:

[2020-05-07 08:47] #180 closed

[2020-05-07 10:43] Safranek42 commented on #176
I had the same problem earlier, maybe that can help, though I used actual board and GPS device, not simulation.
MAVSDK-Python telemetry only had position data if is_home_position was True in health telemetry. So even if is_global_position is True and it sees 10 satellites, it needs the home position data to send the position telemetry. To achieve that I needed to take the gps device out under the

[2020-05-07 11:06] Safranek42 opened #181 "Telemetry logging fails"
Hi,

I ran into a problem using MAVSDK-Python telemetry class. I am able to initiate connection to my flight controller with mavsdk_server, and then also connect with examples/telemetry.py (every time I run it).

However, telemetry data is sometimes streamed, and sometimes not. So far I could not figure out anything systematic; it happens that I run the script, it works, I stop is, immediately run

[2020-05-07 12:39] JonasVautherin commented on #181
Just to make sure I understand:

* `examples/telemetry.py` always works
* your script does not always receive the telemetry

Correct?

One limitation that we currently have in Python (as opposed to Java or Swift) is that if you call `drone.telemetry.position()` twice, the second call will stop the first one. So you can have only one coroutine running an async generator (here say `drone.telemetry.p

[2020-05-07 12:41] JonasVautherin commented on #176
Doesn't that mean that it needs a GPS fix? Which makes sense to me: before the drone knows its GPS position, it cannot send it. Or am I missing something?

[2020-05-07 12:50] skymaze commented on #176
Thanks, this may solve my problem. I did use a GPS device and I put it outside the window before, QGC show fixed gps data, SDK show fixtype changed but does not have position data. I will take it out and test later.

[2020-05-08 02:29] skymaze commented on #176
![Screenshot inside house](https://user-images.githubusercontent.com/4241798/81363519-20927a80-9116-11ea-9bfd-d5c808273f21.png)
![Screenshot inside house 1](https://user-images.githubusercontent.com/4241798/81363523-21c3a780-9116-11ea-9357-655e2e96a99c.png)
![Screenshot out](https://user-images.githubusercontent.com/4241798/81363527-225c3e00-9116-11ea-8978-b099c152dd43.png)

Confirmed.

[2020-05-08 05:45] Safranek42 commented on #176
@JonasVautherin that is not the case I think. I just tested it again inside, getting these results:

`GpsInfo: [num_satellites: 9 | fix_type: FIX_3D] | Health: [is_gyrometer_calibration_ok: True | is_accelerometer_calibration_ok: True | is_magnetometer_calibration_ok: True | is_level_calibration_ok: True | is_local_position_ok: True | is_global_position_ok: True | is_home_position_ok: False]`

and

[2020-05-08 05:48] Safranek42 commented on #181
Hi,

thanks for your answer.

Not exactly. The behavior of telemetry.py is the same as my script: sometimes works, sometimes not. The difference between the two script is mainly that I am writing to file instead of terminal. (I just wanted to test with the "official" example also.)

I don't run two programs in the same time, so I don't think that could be a problem.

Today morning I tried again, a

[2020-05-08 09:46] JonasVautherin commented on #176
Ok I think I'll need @julianoes insights regarding this "home" thing :thinking:

[2020-05-08 09:51] JonasVautherin commented on #181
When you don't receive the telemetry, can you do something else (like `arm` and `takeoff`), or does everything stall? Because maybe the drone is not detected at all.

We should have a way to get more logs in python, I should have a look at that. So we would see if you are connected or not. One thing you can try is to start `mavsdk_server -p 50051` manually, and connect to that instance (with `dron

[2020-05-08 10:08] Safranek42 commented on #181
I don't do anything else, just getting telemetry.
I'm connecting the way you described. Since it is working now I cannot check the output of `mavsdk_server` in the 'wrong' case but if it happens I will save it.

The output when it is working is this:

[code]

[2020-05-09 00:47] JonasVautherin commented on #181
Right. Please share the output next time it fails, then :blush:

[2020-05-11 09:37] JonasVautherin opened #182 "RuntimeError: aclose(): asynchronous generator is already running"
As mentioned in https://github.com/mavlink/MAVSDK-Python/pull/171, in some examples we try to interrupt streams, and it crashes with a `RuntimeError`. This is apparently due to Python 3.8, as described [here](https://stackoverflow.com/questions/60226557/how-to-forcefully-close-an-async-generator).

More specifically:

We should do something about that in our examples.

[2020-05-12 11:49] Safranek42 opened #184 "MAVLink version"
Hi,

This might be an obvious question but I couldn't find it anywhere.
Does MAVSDK(-Python) uses mavlink 1 or mavlink 2 dialect/version? I saw in pymavlink it can be chosen which one to generate, but using MAVSDK-Python I haven't found anything regarding this.

Thanks in advance!

[2020-05-12 14:45] JonasVautherin commented on #184
I would say MAVLink 2: see https://github.com/mavlink/MAVSDK/tree/develop/src/third_party/mavlink/include/mavlink

[2020-05-12 14:45] #184 closed

[2020-05-13 14:24] JonasVautherin commented on #182
That was fixed in #183.

[2020-05-13 14:24] #182 closed

[2020-05-13 14:25] JonasVautherin commented on #160
Closing for inactivity, feel free to reopen if necessary.

[2020-05-13 14:25] #160 closed

[2020-05-13 21:49] JonasVautherin commented on #179
MAVSDK-Python 0.7.0 is out, and contains `goto_location(...)`!

Regarding the `loiter_time`, @KatrijnChys would you mind trying again with the latest release and open a new issue if that's still failing?

[2020-05-13 21:49] #179 closed

[2020-05-13 21:51] JonasVautherin commented on #157
It is now in release 0.7.0!

[2020-05-13 21:51] #157 closed

[2020-05-13 21:51] JonasVautherin commented on #154
We have a new `geofence` implementation since `0.7.0`, and it works for me. I'll therefore close this, but feel free to reopen if necessary!

[2020-05-13 21:51] #154 closed

[2020-05-13 22:00] JonasVautherin commented on #106
It is now in 0.7.0, though I realize now that it works in a weird way: `await drone.mission.import_qgroundcontrol_mission(qgc_plan_path)` takes the path to the qgc plan, which will be opened by `mavsdk_server`. I'm not sure what's the best way to improve that. But assuming that you run MAVSDK-Python and `mavsdk-server` on the same machine, it should be fine.

We would be glad if you could try it a

[2020-05-13 22:00] #106 closed

[2020-05-14 07:46] maxwelllwang commented on #155
When I ran TakeoffAndLand.py I was also getting the message telling me to manually build mavsdk myself. Because I installed it using pip3. So I built it according to the directions in the C++ section of mavsdk.
Couple questions
1. when i run ./mavsdk_server where do I do it? I've tried to run it from linux home and inside the mavsdk folder and it doesnt exist
2.  Also im using a jetson nano to con

[2020-05-14 07:51] maxwelllwang commented on #155
`Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/mavsdk/system.py", line 166, in _start_mavsdk_server
    with path(bin, 'mavsdk_server') as backend:
  File "/usr/lib/python3.8/contextlib.py", line 113, in __enter__
    return next(self.gen)
  File "/usr/lib/python3.8/importlib/resources.py", line 201, in path
    with open_binary(package, resource) as fp:
  File

[2020-05-14 08:13] JonasVautherin opened #189 "Run MAVSDK-Python on a Jetson Nano"
When I ran TakeoffAndLand.py I was also getting the message telling me to manually build mavsdk myself. Because I installed it using pip3. So I built it according to the directions in the C++ section of mavsdk.
Couple questions
1. when i run ./mavsdk_server where do I do it? I've tried to run it from linux home and inside the mavsdk folder and it doesnt exist
2.  Also im using a jetson nano to con

[2020-05-14 08:14] JonasVautherin commented on #189
[code]

Is this because I installed mavsdk incorrectly? should I try removing it using pip and trying again?

_Originally posted by @maxwelllwang in https://github.com/mavlink/MAVSDK-Python/issues/155#issuecomment-628455936_

[2020-05-14 08:14] JonasVautherin commented on #189
Following the instructions, you built a `mavsdk_server` executable. That means that you ran something like `cmake --build build/default` somewhere, right? The built executable is therefore inside this `build/default` folder, normally in `build/default/src/backend/src/mavsdk_server`.

`./mavsdk_server`, in Linux, means "run the executable located in the current directory (`./`) and called "mavsdk_s